/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ProjectSecurityRoleInfosAPIService ProjectSecurityRoleInfosAPI service
type ProjectSecurityRoleInfosAPIService service

type ApiGetProjectSecurityRolesByIdInfoRequest struct {
	ctx context.Context
	ApiService *ProjectSecurityRoleInfosAPIService
	id int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetProjectSecurityRolesByIdInfoRequest) Conditions(conditions string) ApiGetProjectSecurityRolesByIdInfoRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByIdInfoRequest) ChildConditions(childConditions string) ApiGetProjectSecurityRolesByIdInfoRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByIdInfoRequest) CustomFieldConditions(customFieldConditions string) ApiGetProjectSecurityRolesByIdInfoRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByIdInfoRequest) OrderBy(orderBy string) ApiGetProjectSecurityRolesByIdInfoRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetProjectSecurityRolesByIdInfoRequest) Fields(fields string) ApiGetProjectSecurityRolesByIdInfoRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetProjectSecurityRolesByIdInfoRequest) Page(page int32) ApiGetProjectSecurityRolesByIdInfoRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetProjectSecurityRolesByIdInfoRequest) PageSize(pageSize int32) ApiGetProjectSecurityRolesByIdInfoRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetProjectSecurityRolesByIdInfoRequest) PageId(pageId int32) ApiGetProjectSecurityRolesByIdInfoRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetProjectSecurityRolesByIdInfoRequest) ClientId(clientId string) ApiGetProjectSecurityRolesByIdInfoRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetProjectSecurityRolesByIdInfoRequest) Execute() (*ProjectSecurityRoleInfo, *http.Response, error) {
	return r.ApiService.GetProjectSecurityRolesByIdInfoExecute(r)
}

/*
GetProjectSecurityRolesByIdInfo Get ProjectSecurityRoleInfos

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ProjectSecurityRoleInfoId
 @return ApiGetProjectSecurityRolesByIdInfoRequest
*/
func (a *ProjectSecurityRoleInfosAPIService) GetProjectSecurityRolesByIdInfo(ctx context.Context, id int32) ApiGetProjectSecurityRolesByIdInfoRequest {
	return ApiGetProjectSecurityRolesByIdInfoRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProjectSecurityRoleInfo
func (a *ProjectSecurityRoleInfosAPIService) GetProjectSecurityRolesByIdInfoExecute(r ApiGetProjectSecurityRolesByIdInfoRequest) (*ProjectSecurityRoleInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectSecurityRoleInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectSecurityRoleInfosAPIService.GetProjectSecurityRolesByIdInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/securityRoles/{id}/info"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectSecurityRolesInfoRequest struct {
	ctx context.Context
	ApiService *ProjectSecurityRoleInfosAPIService
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetProjectSecurityRolesInfoRequest) Conditions(conditions string) ApiGetProjectSecurityRolesInfoRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesInfoRequest) ChildConditions(childConditions string) ApiGetProjectSecurityRolesInfoRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesInfoRequest) CustomFieldConditions(customFieldConditions string) ApiGetProjectSecurityRolesInfoRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesInfoRequest) OrderBy(orderBy string) ApiGetProjectSecurityRolesInfoRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetProjectSecurityRolesInfoRequest) Fields(fields string) ApiGetProjectSecurityRolesInfoRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetProjectSecurityRolesInfoRequest) Page(page int32) ApiGetProjectSecurityRolesInfoRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetProjectSecurityRolesInfoRequest) PageSize(pageSize int32) ApiGetProjectSecurityRolesInfoRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetProjectSecurityRolesInfoRequest) PageId(pageId int32) ApiGetProjectSecurityRolesInfoRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetProjectSecurityRolesInfoRequest) ClientId(clientId string) ApiGetProjectSecurityRolesInfoRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetProjectSecurityRolesInfoRequest) Execute() ([]ProjectSecurityRoleInfo, *http.Response, error) {
	return r.ApiService.GetProjectSecurityRolesInfoExecute(r)
}

/*
GetProjectSecurityRolesInfo Get List of ProjectSecurityRoleInfos

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetProjectSecurityRolesInfoRequest
*/
func (a *ProjectSecurityRoleInfosAPIService) GetProjectSecurityRolesInfo(ctx context.Context) ApiGetProjectSecurityRolesInfoRequest {
	return ApiGetProjectSecurityRolesInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ProjectSecurityRoleInfo
func (a *ProjectSecurityRoleInfosAPIService) GetProjectSecurityRolesInfoExecute(r ApiGetProjectSecurityRolesInfoRequest) ([]ProjectSecurityRoleInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProjectSecurityRoleInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectSecurityRoleInfosAPIService.GetProjectSecurityRolesInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/securityRoles/info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
