/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ProjectSecurityRoleSettingsAPIService ProjectSecurityRoleSettingsAPI service
type ProjectSecurityRoleSettingsAPIService service

type ApiGetProjectSecurityRolesByParentIdSettingsRequest struct {
	ctx context.Context
	ApiService *ProjectSecurityRoleSettingsAPIService
	parentId int32
	clientId *string
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsRequest) ClientId(clientId string) ApiGetProjectSecurityRolesByParentIdSettingsRequest {
	r.clientId = &clientId
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsRequest) Conditions(conditions string) ApiGetProjectSecurityRolesByParentIdSettingsRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsRequest) ChildConditions(childConditions string) ApiGetProjectSecurityRolesByParentIdSettingsRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsRequest) CustomFieldConditions(customFieldConditions string) ApiGetProjectSecurityRolesByParentIdSettingsRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsRequest) OrderBy(orderBy string) ApiGetProjectSecurityRolesByParentIdSettingsRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsRequest) Fields(fields string) ApiGetProjectSecurityRolesByParentIdSettingsRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsRequest) Page(page int32) ApiGetProjectSecurityRolesByParentIdSettingsRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsRequest) PageSize(pageSize int32) ApiGetProjectSecurityRolesByParentIdSettingsRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsRequest) PageId(pageId int32) ApiGetProjectSecurityRolesByParentIdSettingsRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetProjectSecurityRolesByParentIdSettingsRequest) Execute() ([]ProjectSecurityRoleSetting, *http.Response, error) {
	return r.ApiService.GetProjectSecurityRolesByParentIdSettingsExecute(r)
}

/*
GetProjectSecurityRolesByParentIdSettings Get List of ProjectSecurityRoleSetting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param parentId securityRoleId
 @return ApiGetProjectSecurityRolesByParentIdSettingsRequest
*/
func (a *ProjectSecurityRoleSettingsAPIService) GetProjectSecurityRolesByParentIdSettings(ctx context.Context, parentId int32) ApiGetProjectSecurityRolesByParentIdSettingsRequest {
	return ApiGetProjectSecurityRolesByParentIdSettingsRequest{
		ApiService: a,
		ctx: ctx,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return []ProjectSecurityRoleSetting
func (a *ProjectSecurityRoleSettingsAPIService) GetProjectSecurityRolesByParentIdSettingsExecute(r ApiGetProjectSecurityRolesByParentIdSettingsRequest) ([]ProjectSecurityRoleSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProjectSecurityRoleSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectSecurityRoleSettingsAPIService.GetProjectSecurityRolesByParentIdSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/securityRoles/{parentId}/settings"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest struct {
	ctx context.Context
	ApiService *ProjectSecurityRoleSettingsAPIService
	id int32
	parentId int32
	clientId *string
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) ClientId(clientId string) ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.clientId = &clientId
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) Conditions(conditions string) ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) ChildConditions(childConditions string) ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) OrderBy(orderBy string) ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) Fields(fields string) ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) Page(page int32) ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) PageSize(pageSize int32) ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) PageId(pageId int32) ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) Execute() (*ProjectSecurityRoleSetting, *http.Response, error) {
	return r.ApiService.GetProjectSecurityRolesByParentIdSettingsByIdExecute(r)
}

/*
GetProjectSecurityRolesByParentIdSettingsById Get ProjectSecurityRoleSetting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id settingId
 @param parentId securityRoleId
 @return ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest
*/
func (a *ProjectSecurityRoleSettingsAPIService) GetProjectSecurityRolesByParentIdSettingsById(ctx context.Context, id int32, parentId int32) ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest {
	return ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return ProjectSecurityRoleSetting
func (a *ProjectSecurityRoleSettingsAPIService) GetProjectSecurityRolesByParentIdSettingsByIdExecute(r ApiGetProjectSecurityRolesByParentIdSettingsByIdRequest) (*ProjectSecurityRoleSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectSecurityRoleSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectSecurityRoleSettingsAPIService.GetProjectSecurityRolesByParentIdSettingsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/securityRoles/{parentId}/settings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectSecurityRolesByParentIdSettingsCountRequest struct {
	ctx context.Context
	ApiService *ProjectSecurityRoleSettingsAPIService
	parentId int32
	clientId *string
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) ClientId(clientId string) ApiGetProjectSecurityRolesByParentIdSettingsCountRequest {
	r.clientId = &clientId
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) Conditions(conditions string) ApiGetProjectSecurityRolesByParentIdSettingsCountRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) ChildConditions(childConditions string) ApiGetProjectSecurityRolesByParentIdSettingsCountRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) CustomFieldConditions(customFieldConditions string) ApiGetProjectSecurityRolesByParentIdSettingsCountRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) OrderBy(orderBy string) ApiGetProjectSecurityRolesByParentIdSettingsCountRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) Fields(fields string) ApiGetProjectSecurityRolesByParentIdSettingsCountRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) Page(page int32) ApiGetProjectSecurityRolesByParentIdSettingsCountRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) PageSize(pageSize int32) ApiGetProjectSecurityRolesByParentIdSettingsCountRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) PageId(pageId int32) ApiGetProjectSecurityRolesByParentIdSettingsCountRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) Execute() (*Count, *http.Response, error) {
	return r.ApiService.GetProjectSecurityRolesByParentIdSettingsCountExecute(r)
}

/*
GetProjectSecurityRolesByParentIdSettingsCount Get Count of ProjectSecurityRoleSetting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param parentId securityRoleId
 @return ApiGetProjectSecurityRolesByParentIdSettingsCountRequest
*/
func (a *ProjectSecurityRoleSettingsAPIService) GetProjectSecurityRolesByParentIdSettingsCount(ctx context.Context, parentId int32) ApiGetProjectSecurityRolesByParentIdSettingsCountRequest {
	return ApiGetProjectSecurityRolesByParentIdSettingsCountRequest{
		ApiService: a,
		ctx: ctx,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return Count
func (a *ProjectSecurityRoleSettingsAPIService) GetProjectSecurityRolesByParentIdSettingsCountExecute(r ApiGetProjectSecurityRolesByParentIdSettingsCountRequest) (*Count, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Count
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectSecurityRoleSettingsAPIService.GetProjectSecurityRolesByParentIdSettingsCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/securityRoles/{parentId}/settings/count"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchProjectSecurityRolesByParentIdSettingsByIdRequest struct {
	ctx context.Context
	ApiService *ProjectSecurityRoleSettingsAPIService
	id int32
	parentId int32
	clientId *string
	patchOperation *[]PatchOperation
}

// 
func (r ApiPatchProjectSecurityRolesByParentIdSettingsByIdRequest) ClientId(clientId string) ApiPatchProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.clientId = &clientId
	return r
}

// List of PatchOperation
func (r ApiPatchProjectSecurityRolesByParentIdSettingsByIdRequest) PatchOperation(patchOperation []PatchOperation) ApiPatchProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.patchOperation = &patchOperation
	return r
}

func (r ApiPatchProjectSecurityRolesByParentIdSettingsByIdRequest) Execute() (*ProjectSecurityRoleSetting, *http.Response, error) {
	return r.ApiService.PatchProjectSecurityRolesByParentIdSettingsByIdExecute(r)
}

/*
PatchProjectSecurityRolesByParentIdSettingsById Patch ProjectSecurityRoleSetting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id settingId
 @param parentId securityRoleId
 @return ApiPatchProjectSecurityRolesByParentIdSettingsByIdRequest
*/
func (a *ProjectSecurityRoleSettingsAPIService) PatchProjectSecurityRolesByParentIdSettingsById(ctx context.Context, id int32, parentId int32) ApiPatchProjectSecurityRolesByParentIdSettingsByIdRequest {
	return ApiPatchProjectSecurityRolesByParentIdSettingsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return ProjectSecurityRoleSetting
func (a *ProjectSecurityRoleSettingsAPIService) PatchProjectSecurityRolesByParentIdSettingsByIdExecute(r ApiPatchProjectSecurityRolesByParentIdSettingsByIdRequest) (*ProjectSecurityRoleSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectSecurityRoleSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectSecurityRoleSettingsAPIService.PatchProjectSecurityRolesByParentIdSettingsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/securityRoles/{parentId}/settings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.patchOperation == nil {
		return localVarReturnValue, nil, reportError("patchOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.patchOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutProjectSecurityRolesByParentIdSettingsByIdRequest struct {
	ctx context.Context
	ApiService *ProjectSecurityRoleSettingsAPIService
	id int32
	parentId int32
	clientId *string
	projectSecurityRoleSetting *ProjectSecurityRoleSetting
}

// 
func (r ApiPutProjectSecurityRolesByParentIdSettingsByIdRequest) ClientId(clientId string) ApiPutProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.clientId = &clientId
	return r
}

// projectSecurityRoleSetting
func (r ApiPutProjectSecurityRolesByParentIdSettingsByIdRequest) ProjectSecurityRoleSetting(projectSecurityRoleSetting ProjectSecurityRoleSetting) ApiPutProjectSecurityRolesByParentIdSettingsByIdRequest {
	r.projectSecurityRoleSetting = &projectSecurityRoleSetting
	return r
}

func (r ApiPutProjectSecurityRolesByParentIdSettingsByIdRequest) Execute() (*ProjectSecurityRoleSetting, *http.Response, error) {
	return r.ApiService.PutProjectSecurityRolesByParentIdSettingsByIdExecute(r)
}

/*
PutProjectSecurityRolesByParentIdSettingsById Put ProjectSecurityRoleSetting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id settingId
 @param parentId securityRoleId
 @return ApiPutProjectSecurityRolesByParentIdSettingsByIdRequest
*/
func (a *ProjectSecurityRoleSettingsAPIService) PutProjectSecurityRolesByParentIdSettingsById(ctx context.Context, id int32, parentId int32) ApiPutProjectSecurityRolesByParentIdSettingsByIdRequest {
	return ApiPutProjectSecurityRolesByParentIdSettingsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return ProjectSecurityRoleSetting
func (a *ProjectSecurityRoleSettingsAPIService) PutProjectSecurityRolesByParentIdSettingsByIdExecute(r ApiPutProjectSecurityRolesByParentIdSettingsByIdRequest) (*ProjectSecurityRoleSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectSecurityRoleSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectSecurityRoleSettingsAPIService.PutProjectSecurityRolesByParentIdSettingsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/securityRoles/{parentId}/settings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.projectSecurityRoleSetting == nil {
		return localVarReturnValue, nil, reportError("projectSecurityRoleSetting is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.projectSecurityRoleSetting
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
