/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MyCompanyDocumentSetupAPIService MyCompanyDocumentSetupAPI service
type MyCompanyDocumentSetupAPIService service

type ApiGetSystemMycompanyDocumentsRequest struct {
	ctx context.Context
	ApiService *MyCompanyDocumentSetupAPIService
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetSystemMycompanyDocumentsRequest) Conditions(conditions string) ApiGetSystemMycompanyDocumentsRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsRequest) ChildConditions(childConditions string) ApiGetSystemMycompanyDocumentsRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemMycompanyDocumentsRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsRequest) OrderBy(orderBy string) ApiGetSystemMycompanyDocumentsRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsRequest) Fields(fields string) ApiGetSystemMycompanyDocumentsRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsRequest) Page(page int32) ApiGetSystemMycompanyDocumentsRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsRequest) PageSize(pageSize int32) ApiGetSystemMycompanyDocumentsRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsRequest) PageId(pageId int32) ApiGetSystemMycompanyDocumentsRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsRequest) ClientId(clientId string) ApiGetSystemMycompanyDocumentsRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetSystemMycompanyDocumentsRequest) Execute() ([]DocumentSetup, *http.Response, error) {
	return r.ApiService.GetSystemMycompanyDocumentsExecute(r)
}

/*
GetSystemMycompanyDocuments Get List of DocumentSetup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSystemMycompanyDocumentsRequest
*/
func (a *MyCompanyDocumentSetupAPIService) GetSystemMycompanyDocuments(ctx context.Context) ApiGetSystemMycompanyDocumentsRequest {
	return ApiGetSystemMycompanyDocumentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []DocumentSetup
func (a *MyCompanyDocumentSetupAPIService) GetSystemMycompanyDocumentsExecute(r ApiGetSystemMycompanyDocumentsRequest) ([]DocumentSetup, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DocumentSetup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MyCompanyDocumentSetupAPIService.GetSystemMycompanyDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mycompany/documents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSystemMycompanyDocumentsByIdRequest struct {
	ctx context.Context
	ApiService *MyCompanyDocumentSetupAPIService
	id int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetSystemMycompanyDocumentsByIdRequest) Conditions(conditions string) ApiGetSystemMycompanyDocumentsByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsByIdRequest) ChildConditions(childConditions string) ApiGetSystemMycompanyDocumentsByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemMycompanyDocumentsByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsByIdRequest) OrderBy(orderBy string) ApiGetSystemMycompanyDocumentsByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsByIdRequest) Fields(fields string) ApiGetSystemMycompanyDocumentsByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsByIdRequest) Page(page int32) ApiGetSystemMycompanyDocumentsByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsByIdRequest) PageSize(pageSize int32) ApiGetSystemMycompanyDocumentsByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsByIdRequest) PageId(pageId int32) ApiGetSystemMycompanyDocumentsByIdRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetSystemMycompanyDocumentsByIdRequest) ClientId(clientId string) ApiGetSystemMycompanyDocumentsByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetSystemMycompanyDocumentsByIdRequest) Execute() (*DocumentSetup, *http.Response, error) {
	return r.ApiService.GetSystemMycompanyDocumentsByIdExecute(r)
}

/*
GetSystemMycompanyDocumentsById Get DocumentSetup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiGetSystemMycompanyDocumentsByIdRequest
*/
func (a *MyCompanyDocumentSetupAPIService) GetSystemMycompanyDocumentsById(ctx context.Context, id int32) ApiGetSystemMycompanyDocumentsByIdRequest {
	return ApiGetSystemMycompanyDocumentsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DocumentSetup
func (a *MyCompanyDocumentSetupAPIService) GetSystemMycompanyDocumentsByIdExecute(r ApiGetSystemMycompanyDocumentsByIdRequest) (*DocumentSetup, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DocumentSetup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MyCompanyDocumentSetupAPIService.GetSystemMycompanyDocumentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mycompany/documents/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchSystemMycompanyDocumentsByIdRequest struct {
	ctx context.Context
	ApiService *MyCompanyDocumentSetupAPIService
	id int32
	patchOperation *[]PatchOperation
	clientId *string
}

// List of PatchOperation
func (r ApiPatchSystemMycompanyDocumentsByIdRequest) PatchOperation(patchOperation []PatchOperation) ApiPatchSystemMycompanyDocumentsByIdRequest {
	r.patchOperation = &patchOperation
	return r
}

// 
func (r ApiPatchSystemMycompanyDocumentsByIdRequest) ClientId(clientId string) ApiPatchSystemMycompanyDocumentsByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiPatchSystemMycompanyDocumentsByIdRequest) Execute() (*DocumentSetup, *http.Response, error) {
	return r.ApiService.PatchSystemMycompanyDocumentsByIdExecute(r)
}

/*
PatchSystemMycompanyDocumentsById Patch DocumentSetup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiPatchSystemMycompanyDocumentsByIdRequest
*/
func (a *MyCompanyDocumentSetupAPIService) PatchSystemMycompanyDocumentsById(ctx context.Context, id int32) ApiPatchSystemMycompanyDocumentsByIdRequest {
	return ApiPatchSystemMycompanyDocumentsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DocumentSetup
func (a *MyCompanyDocumentSetupAPIService) PatchSystemMycompanyDocumentsByIdExecute(r ApiPatchSystemMycompanyDocumentsByIdRequest) (*DocumentSetup, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DocumentSetup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MyCompanyDocumentSetupAPIService.PatchSystemMycompanyDocumentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mycompany/documents/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchOperation == nil {
		return localVarReturnValue, nil, reportError("patchOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	// body params
	localVarPostBody = r.patchOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutSystemMycompanyDocumentsByIdRequest struct {
	ctx context.Context
	ApiService *MyCompanyDocumentSetupAPIService
	id int32
	documentSetup *DocumentSetup
	clientId *string
}

// document
func (r ApiPutSystemMycompanyDocumentsByIdRequest) DocumentSetup(documentSetup DocumentSetup) ApiPutSystemMycompanyDocumentsByIdRequest {
	r.documentSetup = &documentSetup
	return r
}

// 
func (r ApiPutSystemMycompanyDocumentsByIdRequest) ClientId(clientId string) ApiPutSystemMycompanyDocumentsByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiPutSystemMycompanyDocumentsByIdRequest) Execute() (*DocumentSetup, *http.Response, error) {
	return r.ApiService.PutSystemMycompanyDocumentsByIdExecute(r)
}

/*
PutSystemMycompanyDocumentsById Put DocumentSetup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiPutSystemMycompanyDocumentsByIdRequest
*/
func (a *MyCompanyDocumentSetupAPIService) PutSystemMycompanyDocumentsById(ctx context.Context, id int32) ApiPutSystemMycompanyDocumentsByIdRequest {
	return ApiPutSystemMycompanyDocumentsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DocumentSetup
func (a *MyCompanyDocumentSetupAPIService) PutSystemMycompanyDocumentsByIdExecute(r ApiPutSystemMycompanyDocumentsByIdRequest) (*DocumentSetup, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DocumentSetup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MyCompanyDocumentSetupAPIService.PutSystemMycompanyDocumentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mycompany/documents/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.documentSetup == nil {
		return localVarReturnValue, nil, reportError("documentSetup is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	// body params
	localVarPostBody = r.documentSetup
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
