/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PhaseStatusInfosAPIService PhaseStatusInfosAPI service
type PhaseStatusInfosAPIService service

type ApiGetProjectPhaseStatusesByIdInfoRequest struct {
	ctx context.Context
	ApiService *PhaseStatusInfosAPIService
	id int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetProjectPhaseStatusesByIdInfoRequest) Conditions(conditions string) ApiGetProjectPhaseStatusesByIdInfoRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetProjectPhaseStatusesByIdInfoRequest) ChildConditions(childConditions string) ApiGetProjectPhaseStatusesByIdInfoRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetProjectPhaseStatusesByIdInfoRequest) CustomFieldConditions(customFieldConditions string) ApiGetProjectPhaseStatusesByIdInfoRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetProjectPhaseStatusesByIdInfoRequest) OrderBy(orderBy string) ApiGetProjectPhaseStatusesByIdInfoRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetProjectPhaseStatusesByIdInfoRequest) Fields(fields string) ApiGetProjectPhaseStatusesByIdInfoRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetProjectPhaseStatusesByIdInfoRequest) Page(page int32) ApiGetProjectPhaseStatusesByIdInfoRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetProjectPhaseStatusesByIdInfoRequest) PageSize(pageSize int32) ApiGetProjectPhaseStatusesByIdInfoRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetProjectPhaseStatusesByIdInfoRequest) PageId(pageId int32) ApiGetProjectPhaseStatusesByIdInfoRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetProjectPhaseStatusesByIdInfoRequest) ClientId(clientId string) ApiGetProjectPhaseStatusesByIdInfoRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetProjectPhaseStatusesByIdInfoRequest) Execute() (*PhaseStatusInfo, *http.Response, error) {
	return r.ApiService.GetProjectPhaseStatusesByIdInfoExecute(r)
}

/*
GetProjectPhaseStatusesByIdInfo Get PhaseStatusInfos

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id PhaseStatusInfoId
 @return ApiGetProjectPhaseStatusesByIdInfoRequest
*/
func (a *PhaseStatusInfosAPIService) GetProjectPhaseStatusesByIdInfo(ctx context.Context, id int32) ApiGetProjectPhaseStatusesByIdInfoRequest {
	return ApiGetProjectPhaseStatusesByIdInfoRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PhaseStatusInfo
func (a *PhaseStatusInfosAPIService) GetProjectPhaseStatusesByIdInfoExecute(r ApiGetProjectPhaseStatusesByIdInfoRequest) (*PhaseStatusInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PhaseStatusInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PhaseStatusInfosAPIService.GetProjectPhaseStatusesByIdInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/phaseStatuses/{id}/info"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectPhaseStatusesInfoRequest struct {
	ctx context.Context
	ApiService *PhaseStatusInfosAPIService
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetProjectPhaseStatusesInfoRequest) Conditions(conditions string) ApiGetProjectPhaseStatusesInfoRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetProjectPhaseStatusesInfoRequest) ChildConditions(childConditions string) ApiGetProjectPhaseStatusesInfoRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetProjectPhaseStatusesInfoRequest) CustomFieldConditions(customFieldConditions string) ApiGetProjectPhaseStatusesInfoRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetProjectPhaseStatusesInfoRequest) OrderBy(orderBy string) ApiGetProjectPhaseStatusesInfoRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetProjectPhaseStatusesInfoRequest) Fields(fields string) ApiGetProjectPhaseStatusesInfoRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetProjectPhaseStatusesInfoRequest) Page(page int32) ApiGetProjectPhaseStatusesInfoRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetProjectPhaseStatusesInfoRequest) PageSize(pageSize int32) ApiGetProjectPhaseStatusesInfoRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetProjectPhaseStatusesInfoRequest) PageId(pageId int32) ApiGetProjectPhaseStatusesInfoRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetProjectPhaseStatusesInfoRequest) ClientId(clientId string) ApiGetProjectPhaseStatusesInfoRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetProjectPhaseStatusesInfoRequest) Execute() ([]PhaseStatusInfo, *http.Response, error) {
	return r.ApiService.GetProjectPhaseStatusesInfoExecute(r)
}

/*
GetProjectPhaseStatusesInfo Get List of PhaseStatusInfos

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetProjectPhaseStatusesInfoRequest
*/
func (a *PhaseStatusInfosAPIService) GetProjectPhaseStatusesInfo(ctx context.Context) ApiGetProjectPhaseStatusesInfoRequest {
	return ApiGetProjectPhaseStatusesInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PhaseStatusInfo
func (a *PhaseStatusInfosAPIService) GetProjectPhaseStatusesInfoExecute(r ApiGetProjectPhaseStatusesInfoRequest) ([]PhaseStatusInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PhaseStatusInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PhaseStatusInfosAPIService.GetProjectPhaseStatusesInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/phaseStatuses/info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
