/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// InvoicePaymentsAPIService InvoicePaymentsAPI service
type InvoicePaymentsAPIService service

type ApiDeleteFinanceInvoicesByParentIdPaymentsByIdRequest struct {
	ctx context.Context
	ApiService *InvoicePaymentsAPIService
	id int32
	parentId int32
	clientId *string
}

// 
func (r ApiDeleteFinanceInvoicesByParentIdPaymentsByIdRequest) ClientId(clientId string) ApiDeleteFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiDeleteFinanceInvoicesByParentIdPaymentsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteFinanceInvoicesByParentIdPaymentsByIdExecute(r)
}

/*
DeleteFinanceInvoicesByParentIdPaymentsById Delete Payment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id paymentId
 @param parentId invoiceId
 @return ApiDeleteFinanceInvoicesByParentIdPaymentsByIdRequest
*/
func (a *InvoicePaymentsAPIService) DeleteFinanceInvoicesByParentIdPaymentsById(ctx context.Context, id int32, parentId int32) ApiDeleteFinanceInvoicesByParentIdPaymentsByIdRequest {
	return ApiDeleteFinanceInvoicesByParentIdPaymentsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
	}
}

// Execute executes the request
func (a *InvoicePaymentsAPIService) DeleteFinanceInvoicesByParentIdPaymentsByIdExecute(r ApiDeleteFinanceInvoicesByParentIdPaymentsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoicePaymentsAPIService.DeleteFinanceInvoicesByParentIdPaymentsById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/invoices/{parentId}/payments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetFinanceInvoicesByParentIdPaymentsRequest struct {
	ctx context.Context
	ApiService *InvoicePaymentsAPIService
	parentId int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsRequest) Conditions(conditions string) ApiGetFinanceInvoicesByParentIdPaymentsRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsRequest) ChildConditions(childConditions string) ApiGetFinanceInvoicesByParentIdPaymentsRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsRequest) CustomFieldConditions(customFieldConditions string) ApiGetFinanceInvoicesByParentIdPaymentsRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsRequest) OrderBy(orderBy string) ApiGetFinanceInvoicesByParentIdPaymentsRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsRequest) Fields(fields string) ApiGetFinanceInvoicesByParentIdPaymentsRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsRequest) Page(page int32) ApiGetFinanceInvoicesByParentIdPaymentsRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsRequest) PageSize(pageSize int32) ApiGetFinanceInvoicesByParentIdPaymentsRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsRequest) PageId(pageId int32) ApiGetFinanceInvoicesByParentIdPaymentsRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsRequest) ClientId(clientId string) ApiGetFinanceInvoicesByParentIdPaymentsRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetFinanceInvoicesByParentIdPaymentsRequest) Execute() ([]InvoicePayment, *http.Response, error) {
	return r.ApiService.GetFinanceInvoicesByParentIdPaymentsExecute(r)
}

/*
GetFinanceInvoicesByParentIdPayments Get List of Payment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param parentId invoiceId
 @return ApiGetFinanceInvoicesByParentIdPaymentsRequest
*/
func (a *InvoicePaymentsAPIService) GetFinanceInvoicesByParentIdPayments(ctx context.Context, parentId int32) ApiGetFinanceInvoicesByParentIdPaymentsRequest {
	return ApiGetFinanceInvoicesByParentIdPaymentsRequest{
		ApiService: a,
		ctx: ctx,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return []InvoicePayment
func (a *InvoicePaymentsAPIService) GetFinanceInvoicesByParentIdPaymentsExecute(r ApiGetFinanceInvoicesByParentIdPaymentsRequest) ([]InvoicePayment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InvoicePayment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoicePaymentsAPIService.GetFinanceInvoicesByParentIdPayments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/invoices/{parentId}/payments"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest struct {
	ctx context.Context
	ApiService *InvoicePaymentsAPIService
	id int32
	parentId int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) Conditions(conditions string) ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) ChildConditions(childConditions string) ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) OrderBy(orderBy string) ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) Fields(fields string) ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) Page(page int32) ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) PageSize(pageSize int32) ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) PageId(pageId int32) ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) ClientId(clientId string) ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) Execute() (*InvoicePayment, *http.Response, error) {
	return r.ApiService.GetFinanceInvoicesByParentIdPaymentsByIdExecute(r)
}

/*
GetFinanceInvoicesByParentIdPaymentsById Get Payment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id paymentId
 @param parentId invoiceId
 @return ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest
*/
func (a *InvoicePaymentsAPIService) GetFinanceInvoicesByParentIdPaymentsById(ctx context.Context, id int32, parentId int32) ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest {
	return ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return InvoicePayment
func (a *InvoicePaymentsAPIService) GetFinanceInvoicesByParentIdPaymentsByIdExecute(r ApiGetFinanceInvoicesByParentIdPaymentsByIdRequest) (*InvoicePayment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InvoicePayment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoicePaymentsAPIService.GetFinanceInvoicesByParentIdPaymentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/invoices/{parentId}/payments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchFinanceInvoicesByParentIdPaymentsByIdRequest struct {
	ctx context.Context
	ApiService *InvoicePaymentsAPIService
	id int32
	parentId int32
	patchOperation *[]PatchOperation
	clientId *string
}

// List of PatchOperation
func (r ApiPatchFinanceInvoicesByParentIdPaymentsByIdRequest) PatchOperation(patchOperation []PatchOperation) ApiPatchFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.patchOperation = &patchOperation
	return r
}

// 
func (r ApiPatchFinanceInvoicesByParentIdPaymentsByIdRequest) ClientId(clientId string) ApiPatchFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiPatchFinanceInvoicesByParentIdPaymentsByIdRequest) Execute() (*InvoicePayment, *http.Response, error) {
	return r.ApiService.PatchFinanceInvoicesByParentIdPaymentsByIdExecute(r)
}

/*
PatchFinanceInvoicesByParentIdPaymentsById Patch Payment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id paymentId
 @param parentId invoiceId
 @return ApiPatchFinanceInvoicesByParentIdPaymentsByIdRequest
*/
func (a *InvoicePaymentsAPIService) PatchFinanceInvoicesByParentIdPaymentsById(ctx context.Context, id int32, parentId int32) ApiPatchFinanceInvoicesByParentIdPaymentsByIdRequest {
	return ApiPatchFinanceInvoicesByParentIdPaymentsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return InvoicePayment
func (a *InvoicePaymentsAPIService) PatchFinanceInvoicesByParentIdPaymentsByIdExecute(r ApiPatchFinanceInvoicesByParentIdPaymentsByIdRequest) (*InvoicePayment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InvoicePayment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoicePaymentsAPIService.PatchFinanceInvoicesByParentIdPaymentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/invoices/{parentId}/payments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchOperation == nil {
		return localVarReturnValue, nil, reportError("patchOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	// body params
	localVarPostBody = r.patchOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostFinanceInvoicesByParentIdPaymentsRequest struct {
	ctx context.Context
	ApiService *InvoicePaymentsAPIService
	parentId int32
	invoicePayment *InvoicePayment
	clientId *string
}

// payment
func (r ApiPostFinanceInvoicesByParentIdPaymentsRequest) InvoicePayment(invoicePayment InvoicePayment) ApiPostFinanceInvoicesByParentIdPaymentsRequest {
	r.invoicePayment = &invoicePayment
	return r
}

// 
func (r ApiPostFinanceInvoicesByParentIdPaymentsRequest) ClientId(clientId string) ApiPostFinanceInvoicesByParentIdPaymentsRequest {
	r.clientId = &clientId
	return r
}

func (r ApiPostFinanceInvoicesByParentIdPaymentsRequest) Execute() (*InvoicePayment, *http.Response, error) {
	return r.ApiService.PostFinanceInvoicesByParentIdPaymentsExecute(r)
}

/*
PostFinanceInvoicesByParentIdPayments Post Payment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param parentId invoiceId
 @return ApiPostFinanceInvoicesByParentIdPaymentsRequest
*/
func (a *InvoicePaymentsAPIService) PostFinanceInvoicesByParentIdPayments(ctx context.Context, parentId int32) ApiPostFinanceInvoicesByParentIdPaymentsRequest {
	return ApiPostFinanceInvoicesByParentIdPaymentsRequest{
		ApiService: a,
		ctx: ctx,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return InvoicePayment
func (a *InvoicePaymentsAPIService) PostFinanceInvoicesByParentIdPaymentsExecute(r ApiPostFinanceInvoicesByParentIdPaymentsRequest) (*InvoicePayment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InvoicePayment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoicePaymentsAPIService.PostFinanceInvoicesByParentIdPayments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/invoices/{parentId}/payments"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.invoicePayment == nil {
		return localVarReturnValue, nil, reportError("invoicePayment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	// body params
	localVarPostBody = r.invoicePayment
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutFinanceInvoicesByParentIdPaymentsByIdRequest struct {
	ctx context.Context
	ApiService *InvoicePaymentsAPIService
	id int32
	parentId int32
	invoicePayment *InvoicePayment
	clientId *string
}

// payment
func (r ApiPutFinanceInvoicesByParentIdPaymentsByIdRequest) InvoicePayment(invoicePayment InvoicePayment) ApiPutFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.invoicePayment = &invoicePayment
	return r
}

// 
func (r ApiPutFinanceInvoicesByParentIdPaymentsByIdRequest) ClientId(clientId string) ApiPutFinanceInvoicesByParentIdPaymentsByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiPutFinanceInvoicesByParentIdPaymentsByIdRequest) Execute() (*InvoicePayment, *http.Response, error) {
	return r.ApiService.PutFinanceInvoicesByParentIdPaymentsByIdExecute(r)
}

/*
PutFinanceInvoicesByParentIdPaymentsById Put Payment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id paymentId
 @param parentId invoiceId
 @return ApiPutFinanceInvoicesByParentIdPaymentsByIdRequest
*/
func (a *InvoicePaymentsAPIService) PutFinanceInvoicesByParentIdPaymentsById(ctx context.Context, id int32, parentId int32) ApiPutFinanceInvoicesByParentIdPaymentsByIdRequest {
	return ApiPutFinanceInvoicesByParentIdPaymentsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return InvoicePayment
func (a *InvoicePaymentsAPIService) PutFinanceInvoicesByParentIdPaymentsByIdExecute(r ApiPutFinanceInvoicesByParentIdPaymentsByIdRequest) (*InvoicePayment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InvoicePayment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoicePaymentsAPIService.PutFinanceInvoicesByParentIdPaymentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/invoices/{parentId}/payments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.invoicePayment == nil {
		return localVarReturnValue, nil, reportError("invoicePayment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	// body params
	localVarPostBody = r.invoicePayment
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
