/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// FileUploadSettingsAPIService FileUploadSettingsAPI service
type FileUploadSettingsAPIService service

type ApiGetSystemFileuploadsettingsRequest struct {
	ctx context.Context
	ApiService *FileUploadSettingsAPIService
	clientId *string
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
}

// 
func (r ApiGetSystemFileuploadsettingsRequest) ClientId(clientId string) ApiGetSystemFileuploadsettingsRequest {
	r.clientId = &clientId
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsRequest) Conditions(conditions string) ApiGetSystemFileuploadsettingsRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsRequest) ChildConditions(childConditions string) ApiGetSystemFileuploadsettingsRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemFileuploadsettingsRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsRequest) OrderBy(orderBy string) ApiGetSystemFileuploadsettingsRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsRequest) Fields(fields string) ApiGetSystemFileuploadsettingsRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsRequest) Page(page int32) ApiGetSystemFileuploadsettingsRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsRequest) PageSize(pageSize int32) ApiGetSystemFileuploadsettingsRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsRequest) PageId(pageId int32) ApiGetSystemFileuploadsettingsRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetSystemFileuploadsettingsRequest) Execute() ([]FileUploadSetting, *http.Response, error) {
	return r.ApiService.GetSystemFileuploadsettingsExecute(r)
}

/*
GetSystemFileuploadsettings Get List of FileUploadSettings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSystemFileuploadsettingsRequest
*/
func (a *FileUploadSettingsAPIService) GetSystemFileuploadsettings(ctx context.Context) ApiGetSystemFileuploadsettingsRequest {
	return ApiGetSystemFileuploadsettingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []FileUploadSetting
func (a *FileUploadSettingsAPIService) GetSystemFileuploadsettingsExecute(r ApiGetSystemFileuploadsettingsRequest) ([]FileUploadSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []FileUploadSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileUploadSettingsAPIService.GetSystemFileuploadsettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/fileuploadsettings/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSystemFileuploadsettingsByIdRequest struct {
	ctx context.Context
	ApiService *FileUploadSettingsAPIService
	id int32
	clientId *string
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
}

// 
func (r ApiGetSystemFileuploadsettingsByIdRequest) ClientId(clientId string) ApiGetSystemFileuploadsettingsByIdRequest {
	r.clientId = &clientId
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsByIdRequest) Conditions(conditions string) ApiGetSystemFileuploadsettingsByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsByIdRequest) ChildConditions(childConditions string) ApiGetSystemFileuploadsettingsByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemFileuploadsettingsByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsByIdRequest) OrderBy(orderBy string) ApiGetSystemFileuploadsettingsByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsByIdRequest) Fields(fields string) ApiGetSystemFileuploadsettingsByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsByIdRequest) Page(page int32) ApiGetSystemFileuploadsettingsByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsByIdRequest) PageSize(pageSize int32) ApiGetSystemFileuploadsettingsByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsByIdRequest) PageId(pageId int32) ApiGetSystemFileuploadsettingsByIdRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetSystemFileuploadsettingsByIdRequest) Execute() (*FileUploadSetting, *http.Response, error) {
	return r.ApiService.GetSystemFileuploadsettingsByIdExecute(r)
}

/*
GetSystemFileuploadsettingsById Get FileUploadSettings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id FileUploadSettingId
 @return ApiGetSystemFileuploadsettingsByIdRequest
*/
func (a *FileUploadSettingsAPIService) GetSystemFileuploadsettingsById(ctx context.Context, id int32) ApiGetSystemFileuploadsettingsByIdRequest {
	return ApiGetSystemFileuploadsettingsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FileUploadSetting
func (a *FileUploadSettingsAPIService) GetSystemFileuploadsettingsByIdExecute(r ApiGetSystemFileuploadsettingsByIdRequest) (*FileUploadSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FileUploadSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileUploadSettingsAPIService.GetSystemFileuploadsettingsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/fileuploadsettings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSystemFileuploadsettingsCountRequest struct {
	ctx context.Context
	ApiService *FileUploadSettingsAPIService
	clientId *string
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
}

// 
func (r ApiGetSystemFileuploadsettingsCountRequest) ClientId(clientId string) ApiGetSystemFileuploadsettingsCountRequest {
	r.clientId = &clientId
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsCountRequest) Conditions(conditions string) ApiGetSystemFileuploadsettingsCountRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsCountRequest) ChildConditions(childConditions string) ApiGetSystemFileuploadsettingsCountRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsCountRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemFileuploadsettingsCountRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsCountRequest) OrderBy(orderBy string) ApiGetSystemFileuploadsettingsCountRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsCountRequest) Fields(fields string) ApiGetSystemFileuploadsettingsCountRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsCountRequest) Page(page int32) ApiGetSystemFileuploadsettingsCountRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsCountRequest) PageSize(pageSize int32) ApiGetSystemFileuploadsettingsCountRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemFileuploadsettingsCountRequest) PageId(pageId int32) ApiGetSystemFileuploadsettingsCountRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetSystemFileuploadsettingsCountRequest) Execute() (*Count, *http.Response, error) {
	return r.ApiService.GetSystemFileuploadsettingsCountExecute(r)
}

/*
GetSystemFileuploadsettingsCount Get Count of FileUploadSettings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSystemFileuploadsettingsCountRequest
*/
func (a *FileUploadSettingsAPIService) GetSystemFileuploadsettingsCount(ctx context.Context) ApiGetSystemFileuploadsettingsCountRequest {
	return ApiGetSystemFileuploadsettingsCountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Count
func (a *FileUploadSettingsAPIService) GetSystemFileuploadsettingsCountExecute(r ApiGetSystemFileuploadsettingsCountRequest) (*Count, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Count
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileUploadSettingsAPIService.GetSystemFileuploadsettingsCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/fileuploadsettings/count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchSystemFileuploadsettingsByIdRequest struct {
	ctx context.Context
	ApiService *FileUploadSettingsAPIService
	id int32
	clientId *string
	patchOperation *[]PatchOperation
}

// 
func (r ApiPatchSystemFileuploadsettingsByIdRequest) ClientId(clientId string) ApiPatchSystemFileuploadsettingsByIdRequest {
	r.clientId = &clientId
	return r
}

// List of PatchOperation
func (r ApiPatchSystemFileuploadsettingsByIdRequest) PatchOperation(patchOperation []PatchOperation) ApiPatchSystemFileuploadsettingsByIdRequest {
	r.patchOperation = &patchOperation
	return r
}

func (r ApiPatchSystemFileuploadsettingsByIdRequest) Execute() (*FileUploadSetting, *http.Response, error) {
	return r.ApiService.PatchSystemFileuploadsettingsByIdExecute(r)
}

/*
PatchSystemFileuploadsettingsById Patch FileUploadSettings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id FileUploadSettingId
 @return ApiPatchSystemFileuploadsettingsByIdRequest
*/
func (a *FileUploadSettingsAPIService) PatchSystemFileuploadsettingsById(ctx context.Context, id int32) ApiPatchSystemFileuploadsettingsByIdRequest {
	return ApiPatchSystemFileuploadsettingsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FileUploadSetting
func (a *FileUploadSettingsAPIService) PatchSystemFileuploadsettingsByIdExecute(r ApiPatchSystemFileuploadsettingsByIdRequest) (*FileUploadSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FileUploadSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileUploadSettingsAPIService.PatchSystemFileuploadsettingsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/fileuploadsettings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.patchOperation == nil {
		return localVarReturnValue, nil, reportError("patchOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.patchOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutSystemFileuploadsettingsByIdRequest struct {
	ctx context.Context
	ApiService *FileUploadSettingsAPIService
	id int32
	clientId *string
	fileUploadSetting *FileUploadSetting
}

// 
func (r ApiPutSystemFileuploadsettingsByIdRequest) ClientId(clientId string) ApiPutSystemFileuploadsettingsByIdRequest {
	r.clientId = &clientId
	return r
}

// companyTypeAssociation
func (r ApiPutSystemFileuploadsettingsByIdRequest) FileUploadSetting(fileUploadSetting FileUploadSetting) ApiPutSystemFileuploadsettingsByIdRequest {
	r.fileUploadSetting = &fileUploadSetting
	return r
}

func (r ApiPutSystemFileuploadsettingsByIdRequest) Execute() (*FileUploadSetting, *http.Response, error) {
	return r.ApiService.PutSystemFileuploadsettingsByIdExecute(r)
}

/*
PutSystemFileuploadsettingsById Put FileUploadSettings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id FileUploadSettingId
 @return ApiPutSystemFileuploadsettingsByIdRequest
*/
func (a *FileUploadSettingsAPIService) PutSystemFileuploadsettingsById(ctx context.Context, id int32) ApiPutSystemFileuploadsettingsByIdRequest {
	return ApiPutSystemFileuploadsettingsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FileUploadSetting
func (a *FileUploadSettingsAPIService) PutSystemFileuploadsettingsByIdExecute(r ApiPutSystemFileuploadsettingsByIdRequest) (*FileUploadSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FileUploadSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileUploadSettingsAPIService.PutSystemFileuploadsettingsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/fileuploadsettings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.fileUploadSetting == nil {
		return localVarReturnValue, nil, reportError("fileUploadSetting is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.fileUploadSetting
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
