/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ScheduleEntryDetailsAPIService ScheduleEntryDetailsAPI service
type ScheduleEntryDetailsAPIService service

type ApiGetScheduleDetailsRequest struct {
	ctx context.Context
	ApiService *ScheduleEntryDetailsAPIService
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetScheduleDetailsRequest) Conditions(conditions string) ApiGetScheduleDetailsRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetScheduleDetailsRequest) ChildConditions(childConditions string) ApiGetScheduleDetailsRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetScheduleDetailsRequest) CustomFieldConditions(customFieldConditions string) ApiGetScheduleDetailsRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetScheduleDetailsRequest) OrderBy(orderBy string) ApiGetScheduleDetailsRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetScheduleDetailsRequest) Fields(fields string) ApiGetScheduleDetailsRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetScheduleDetailsRequest) Page(page int32) ApiGetScheduleDetailsRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetScheduleDetailsRequest) PageSize(pageSize int32) ApiGetScheduleDetailsRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetScheduleDetailsRequest) PageId(pageId int32) ApiGetScheduleDetailsRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetScheduleDetailsRequest) ClientId(clientId string) ApiGetScheduleDetailsRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetScheduleDetailsRequest) Execute() ([]ScheduleEntryDetail, *http.Response, error) {
	return r.ApiService.GetScheduleDetailsExecute(r)
}

/*
GetScheduleDetails Get List of ScheduleEntryDetail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetScheduleDetailsRequest
*/
func (a *ScheduleEntryDetailsAPIService) GetScheduleDetails(ctx context.Context) ApiGetScheduleDetailsRequest {
	return ApiGetScheduleDetailsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ScheduleEntryDetail
func (a *ScheduleEntryDetailsAPIService) GetScheduleDetailsExecute(r ApiGetScheduleDetailsRequest) ([]ScheduleEntryDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ScheduleEntryDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScheduleEntryDetailsAPIService.GetScheduleDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/schedule/details"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetScheduleDetailsByIdRequest struct {
	ctx context.Context
	ApiService *ScheduleEntryDetailsAPIService
	id int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetScheduleDetailsByIdRequest) Conditions(conditions string) ApiGetScheduleDetailsByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetScheduleDetailsByIdRequest) ChildConditions(childConditions string) ApiGetScheduleDetailsByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetScheduleDetailsByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetScheduleDetailsByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetScheduleDetailsByIdRequest) OrderBy(orderBy string) ApiGetScheduleDetailsByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetScheduleDetailsByIdRequest) Fields(fields string) ApiGetScheduleDetailsByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetScheduleDetailsByIdRequest) Page(page int32) ApiGetScheduleDetailsByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetScheduleDetailsByIdRequest) PageSize(pageSize int32) ApiGetScheduleDetailsByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetScheduleDetailsByIdRequest) PageId(pageId int32) ApiGetScheduleDetailsByIdRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetScheduleDetailsByIdRequest) ClientId(clientId string) ApiGetScheduleDetailsByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetScheduleDetailsByIdRequest) Execute() (*ScheduleEntryDetail, *http.Response, error) {
	return r.ApiService.GetScheduleDetailsByIdExecute(r)
}

/*
GetScheduleDetailsById Get ScheduleEntryDetail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id detailId
 @return ApiGetScheduleDetailsByIdRequest
*/
func (a *ScheduleEntryDetailsAPIService) GetScheduleDetailsById(ctx context.Context, id int32) ApiGetScheduleDetailsByIdRequest {
	return ApiGetScheduleDetailsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ScheduleEntryDetail
func (a *ScheduleEntryDetailsAPIService) GetScheduleDetailsByIdExecute(r ApiGetScheduleDetailsByIdRequest) (*ScheduleEntryDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ScheduleEntryDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScheduleEntryDetailsAPIService.GetScheduleDetailsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/schedule/details/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetScheduleDetailsCountRequest struct {
	ctx context.Context
	ApiService *ScheduleEntryDetailsAPIService
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetScheduleDetailsCountRequest) Conditions(conditions string) ApiGetScheduleDetailsCountRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetScheduleDetailsCountRequest) ChildConditions(childConditions string) ApiGetScheduleDetailsCountRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetScheduleDetailsCountRequest) CustomFieldConditions(customFieldConditions string) ApiGetScheduleDetailsCountRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetScheduleDetailsCountRequest) OrderBy(orderBy string) ApiGetScheduleDetailsCountRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetScheduleDetailsCountRequest) Fields(fields string) ApiGetScheduleDetailsCountRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetScheduleDetailsCountRequest) Page(page int32) ApiGetScheduleDetailsCountRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetScheduleDetailsCountRequest) PageSize(pageSize int32) ApiGetScheduleDetailsCountRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetScheduleDetailsCountRequest) PageId(pageId int32) ApiGetScheduleDetailsCountRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetScheduleDetailsCountRequest) ClientId(clientId string) ApiGetScheduleDetailsCountRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetScheduleDetailsCountRequest) Execute() (*Count, *http.Response, error) {
	return r.ApiService.GetScheduleDetailsCountExecute(r)
}

/*
GetScheduleDetailsCount Get Count of ScheduleEntryDetail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetScheduleDetailsCountRequest
*/
func (a *ScheduleEntryDetailsAPIService) GetScheduleDetailsCount(ctx context.Context) ApiGetScheduleDetailsCountRequest {
	return ApiGetScheduleDetailsCountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Count
func (a *ScheduleEntryDetailsAPIService) GetScheduleDetailsCountExecute(r ApiGetScheduleDetailsCountRequest) (*Count, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Count
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScheduleEntryDetailsAPIService.GetScheduleDetailsCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/schedule/details/count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
