/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SurveyQuestionValuesAPIService SurveyQuestionValuesAPI service
type SurveyQuestionValuesAPIService service

type ApiDeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest struct {
	ctx context.Context
	ApiService *SurveyQuestionValuesAPIService
	id int32
	parentId int32
	grandparentId int32
	clientId *string
}

// 
func (r ApiDeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) ClientId(clientId string) ApiDeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiDeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdExecute(r)
}

/*
DeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesById Delete SurveyQuestionValue

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id valueId
 @param parentId questionId
 @param grandparentId surveyId
 @return ApiDeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest
*/
func (a *SurveyQuestionValuesAPIService) DeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesById(ctx context.Context, id int32, parentId int32, grandparentId int32) ApiDeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	return ApiDeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
		grandparentId: grandparentId,
	}
}

// Execute executes the request
func (a *SurveyQuestionValuesAPIService) DeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdExecute(r ApiDeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SurveyQuestionValuesAPIService.DeleteSystemSurveysByGrandparentIdQuestionsByParentIdValuesById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/surveys/{grandparentId}/questions/{parentId}/values/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"grandparentId"+"}", url.PathEscape(parameterValueToString(r.grandparentId, "grandparentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return nil, reportError("clientId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest struct {
	ctx context.Context
	ApiService *SurveyQuestionValuesAPIService
	parentId int32
	grandparentId int32
	clientId *string
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) ClientId(clientId string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.clientId = &clientId
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) Conditions(conditions string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) ChildConditions(childConditions string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) OrderBy(orderBy string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) Fields(fields string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) Page(page int32) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) PageSize(pageSize int32) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) PageId(pageId int32) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) Execute() ([]SurveyQuestionValue, *http.Response, error) {
	return r.ApiService.GetSystemSurveysByGrandparentIdQuestionsByParentIdValuesExecute(r)
}

/*
GetSystemSurveysByGrandparentIdQuestionsByParentIdValues Get List of SurveyQuestionValue

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param parentId questionId
 @param grandparentId surveyId
 @return ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest
*/
func (a *SurveyQuestionValuesAPIService) GetSystemSurveysByGrandparentIdQuestionsByParentIdValues(ctx context.Context, parentId int32, grandparentId int32) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	return ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest{
		ApiService: a,
		ctx: ctx,
		parentId: parentId,
		grandparentId: grandparentId,
	}
}

// Execute executes the request
//  @return []SurveyQuestionValue
func (a *SurveyQuestionValuesAPIService) GetSystemSurveysByGrandparentIdQuestionsByParentIdValuesExecute(r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) ([]SurveyQuestionValue, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SurveyQuestionValue
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SurveyQuestionValuesAPIService.GetSystemSurveysByGrandparentIdQuestionsByParentIdValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/surveys/{grandparentId}/questions/{parentId}/values"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"grandparentId"+"}", url.PathEscape(parameterValueToString(r.grandparentId, "grandparentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest struct {
	ctx context.Context
	ApiService *SurveyQuestionValuesAPIService
	id int32
	parentId int32
	grandparentId int32
	clientId *string
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) ClientId(clientId string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.clientId = &clientId
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) Conditions(conditions string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) ChildConditions(childConditions string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) OrderBy(orderBy string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) Fields(fields string) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) Page(page int32) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) PageSize(pageSize int32) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) PageId(pageId int32) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) Execute() (*SurveyQuestionValue, *http.Response, error) {
	return r.ApiService.GetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdExecute(r)
}

/*
GetSystemSurveysByGrandparentIdQuestionsByParentIdValuesById Get SurveyQuestionValue

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id valueId
 @param parentId questionId
 @param grandparentId surveyId
 @return ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest
*/
func (a *SurveyQuestionValuesAPIService) GetSystemSurveysByGrandparentIdQuestionsByParentIdValuesById(ctx context.Context, id int32, parentId int32, grandparentId int32) ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	return ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
		grandparentId: grandparentId,
	}
}

// Execute executes the request
//  @return SurveyQuestionValue
func (a *SurveyQuestionValuesAPIService) GetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdExecute(r ApiGetSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) (*SurveyQuestionValue, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SurveyQuestionValue
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SurveyQuestionValuesAPIService.GetSystemSurveysByGrandparentIdQuestionsByParentIdValuesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/surveys/{grandparentId}/questions/{parentId}/values/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"grandparentId"+"}", url.PathEscape(parameterValueToString(r.grandparentId, "grandparentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest struct {
	ctx context.Context
	ApiService *SurveyQuestionValuesAPIService
	id int32
	parentId int32
	grandparentId int32
	clientId *string
	patchOperation *[]PatchOperation
}

// 
func (r ApiPatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) ClientId(clientId string) ApiPatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.clientId = &clientId
	return r
}

// List of PatchOperation
func (r ApiPatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) PatchOperation(patchOperation []PatchOperation) ApiPatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.patchOperation = &patchOperation
	return r
}

func (r ApiPatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) Execute() (*SurveyQuestionValue, *http.Response, error) {
	return r.ApiService.PatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdExecute(r)
}

/*
PatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesById Patch SurveyQuestionValue

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id valueId
 @param parentId questionId
 @param grandparentId surveyId
 @return ApiPatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest
*/
func (a *SurveyQuestionValuesAPIService) PatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesById(ctx context.Context, id int32, parentId int32, grandparentId int32) ApiPatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	return ApiPatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
		grandparentId: grandparentId,
	}
}

// Execute executes the request
//  @return SurveyQuestionValue
func (a *SurveyQuestionValuesAPIService) PatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdExecute(r ApiPatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) (*SurveyQuestionValue, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SurveyQuestionValue
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SurveyQuestionValuesAPIService.PatchSystemSurveysByGrandparentIdQuestionsByParentIdValuesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/surveys/{grandparentId}/questions/{parentId}/values/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"grandparentId"+"}", url.PathEscape(parameterValueToString(r.grandparentId, "grandparentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.patchOperation == nil {
		return localVarReturnValue, nil, reportError("patchOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.patchOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest struct {
	ctx context.Context
	ApiService *SurveyQuestionValuesAPIService
	parentId int32
	grandparentId int32
	clientId *string
	surveyQuestionValue *SurveyQuestionValue
}

// 
func (r ApiPostSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) ClientId(clientId string) ApiPostSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.clientId = &clientId
	return r
}

// surveyQuestionValue
func (r ApiPostSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) SurveyQuestionValue(surveyQuestionValue SurveyQuestionValue) ApiPostSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	r.surveyQuestionValue = &surveyQuestionValue
	return r
}

func (r ApiPostSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) Execute() (*SurveyQuestionValue, *http.Response, error) {
	return r.ApiService.PostSystemSurveysByGrandparentIdQuestionsByParentIdValuesExecute(r)
}

/*
PostSystemSurveysByGrandparentIdQuestionsByParentIdValues Post SurveyQuestionValue

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param parentId questionId
 @param grandparentId surveyId
 @return ApiPostSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest
*/
func (a *SurveyQuestionValuesAPIService) PostSystemSurveysByGrandparentIdQuestionsByParentIdValues(ctx context.Context, parentId int32, grandparentId int32) ApiPostSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest {
	return ApiPostSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest{
		ApiService: a,
		ctx: ctx,
		parentId: parentId,
		grandparentId: grandparentId,
	}
}

// Execute executes the request
//  @return SurveyQuestionValue
func (a *SurveyQuestionValuesAPIService) PostSystemSurveysByGrandparentIdQuestionsByParentIdValuesExecute(r ApiPostSystemSurveysByGrandparentIdQuestionsByParentIdValuesRequest) (*SurveyQuestionValue, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SurveyQuestionValue
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SurveyQuestionValuesAPIService.PostSystemSurveysByGrandparentIdQuestionsByParentIdValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/surveys/{grandparentId}/questions/{parentId}/values"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"grandparentId"+"}", url.PathEscape(parameterValueToString(r.grandparentId, "grandparentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.surveyQuestionValue == nil {
		return localVarReturnValue, nil, reportError("surveyQuestionValue is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.surveyQuestionValue
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest struct {
	ctx context.Context
	ApiService *SurveyQuestionValuesAPIService
	id int32
	parentId int32
	grandparentId int32
	clientId *string
	surveyQuestionValue *SurveyQuestionValue
}

// 
func (r ApiPutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) ClientId(clientId string) ApiPutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.clientId = &clientId
	return r
}

// surveyQuestionValue
func (r ApiPutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) SurveyQuestionValue(surveyQuestionValue SurveyQuestionValue) ApiPutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	r.surveyQuestionValue = &surveyQuestionValue
	return r
}

func (r ApiPutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) Execute() (*SurveyQuestionValue, *http.Response, error) {
	return r.ApiService.PutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdExecute(r)
}

/*
PutSystemSurveysByGrandparentIdQuestionsByParentIdValuesById Put SurveyQuestionValue

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id valueId
 @param parentId questionId
 @param grandparentId surveyId
 @return ApiPutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest
*/
func (a *SurveyQuestionValuesAPIService) PutSystemSurveysByGrandparentIdQuestionsByParentIdValuesById(ctx context.Context, id int32, parentId int32, grandparentId int32) ApiPutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest {
	return ApiPutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
		grandparentId: grandparentId,
	}
}

// Execute executes the request
//  @return SurveyQuestionValue
func (a *SurveyQuestionValuesAPIService) PutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdExecute(r ApiPutSystemSurveysByGrandparentIdQuestionsByParentIdValuesByIdRequest) (*SurveyQuestionValue, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SurveyQuestionValue
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SurveyQuestionValuesAPIService.PutSystemSurveysByGrandparentIdQuestionsByParentIdValuesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/surveys/{grandparentId}/questions/{parentId}/values/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"grandparentId"+"}", url.PathEscape(parameterValueToString(r.grandparentId, "grandparentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.surveyQuestionValue == nil {
		return localVarReturnValue, nil, reportError("surveyQuestionValue is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.surveyQuestionValue
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
