/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MyCompanyServiceInfosAPIService MyCompanyServiceInfosAPI service
type MyCompanyServiceInfosAPIService service

type ApiGetSystemMycompanyInfoServicesRequest struct {
	ctx context.Context
	ApiService *MyCompanyServiceInfosAPIService
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetSystemMycompanyInfoServicesRequest) Conditions(conditions string) ApiGetSystemMycompanyInfoServicesRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesRequest) ChildConditions(childConditions string) ApiGetSystemMycompanyInfoServicesRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemMycompanyInfoServicesRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesRequest) OrderBy(orderBy string) ApiGetSystemMycompanyInfoServicesRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesRequest) Fields(fields string) ApiGetSystemMycompanyInfoServicesRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesRequest) Page(page int32) ApiGetSystemMycompanyInfoServicesRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesRequest) PageSize(pageSize int32) ApiGetSystemMycompanyInfoServicesRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesRequest) PageId(pageId int32) ApiGetSystemMycompanyInfoServicesRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesRequest) ClientId(clientId string) ApiGetSystemMycompanyInfoServicesRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetSystemMycompanyInfoServicesRequest) Execute() ([]ServiceInfo, *http.Response, error) {
	return r.ApiService.GetSystemMycompanyInfoServicesExecute(r)
}

/*
GetSystemMycompanyInfoServices Get List of ServiceInfo

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSystemMycompanyInfoServicesRequest
*/
func (a *MyCompanyServiceInfosAPIService) GetSystemMycompanyInfoServices(ctx context.Context) ApiGetSystemMycompanyInfoServicesRequest {
	return ApiGetSystemMycompanyInfoServicesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ServiceInfo
func (a *MyCompanyServiceInfosAPIService) GetSystemMycompanyInfoServicesExecute(r ApiGetSystemMycompanyInfoServicesRequest) ([]ServiceInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ServiceInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MyCompanyServiceInfosAPIService.GetSystemMycompanyInfoServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mycompany/info/services"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSystemMycompanyInfoServicesByIdRequest struct {
	ctx context.Context
	ApiService *MyCompanyServiceInfosAPIService
	id int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetSystemMycompanyInfoServicesByIdRequest) Conditions(conditions string) ApiGetSystemMycompanyInfoServicesByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesByIdRequest) ChildConditions(childConditions string) ApiGetSystemMycompanyInfoServicesByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemMycompanyInfoServicesByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesByIdRequest) OrderBy(orderBy string) ApiGetSystemMycompanyInfoServicesByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesByIdRequest) Fields(fields string) ApiGetSystemMycompanyInfoServicesByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesByIdRequest) Page(page int32) ApiGetSystemMycompanyInfoServicesByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesByIdRequest) PageSize(pageSize int32) ApiGetSystemMycompanyInfoServicesByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesByIdRequest) PageId(pageId int32) ApiGetSystemMycompanyInfoServicesByIdRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetSystemMycompanyInfoServicesByIdRequest) ClientId(clientId string) ApiGetSystemMycompanyInfoServicesByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetSystemMycompanyInfoServicesByIdRequest) Execute() (*ServiceInfo, *http.Response, error) {
	return r.ApiService.GetSystemMycompanyInfoServicesByIdExecute(r)
}

/*
GetSystemMycompanyInfoServicesById Get ServiceInfo

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id serviceId
 @return ApiGetSystemMycompanyInfoServicesByIdRequest
*/
func (a *MyCompanyServiceInfosAPIService) GetSystemMycompanyInfoServicesById(ctx context.Context, id int32) ApiGetSystemMycompanyInfoServicesByIdRequest {
	return ApiGetSystemMycompanyInfoServicesByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ServiceInfo
func (a *MyCompanyServiceInfosAPIService) GetSystemMycompanyInfoServicesByIdExecute(r ApiGetSystemMycompanyInfoServicesByIdRequest) (*ServiceInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MyCompanyServiceInfosAPIService.GetSystemMycompanyInfoServicesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mycompany/info/services/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
