/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.8
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ServiceTemplateTasksAPIService ServiceTemplateTasksAPI service
type ServiceTemplateTasksAPIService service

type ApiGetServiceTemplatesByParentIdTasksRequest struct {
	ctx context.Context
	ApiService *ServiceTemplateTasksAPIService
	parentId int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksRequest) Conditions(conditions string) ApiGetServiceTemplatesByParentIdTasksRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksRequest) ChildConditions(childConditions string) ApiGetServiceTemplatesByParentIdTasksRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksRequest) CustomFieldConditions(customFieldConditions string) ApiGetServiceTemplatesByParentIdTasksRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksRequest) OrderBy(orderBy string) ApiGetServiceTemplatesByParentIdTasksRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksRequest) Fields(fields string) ApiGetServiceTemplatesByParentIdTasksRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksRequest) Page(page int32) ApiGetServiceTemplatesByParentIdTasksRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksRequest) PageSize(pageSize int32) ApiGetServiceTemplatesByParentIdTasksRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksRequest) PageId(pageId int32) ApiGetServiceTemplatesByParentIdTasksRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksRequest) ClientId(clientId string) ApiGetServiceTemplatesByParentIdTasksRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetServiceTemplatesByParentIdTasksRequest) Execute() ([]ServiceTemplateTask, *http.Response, error) {
	return r.ApiService.GetServiceTemplatesByParentIdTasksExecute(r)
}

/*
GetServiceTemplatesByParentIdTasks Get List of Tasks

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param parentId templateId
 @return ApiGetServiceTemplatesByParentIdTasksRequest
*/
func (a *ServiceTemplateTasksAPIService) GetServiceTemplatesByParentIdTasks(ctx context.Context, parentId int32) ApiGetServiceTemplatesByParentIdTasksRequest {
	return ApiGetServiceTemplatesByParentIdTasksRequest{
		ApiService: a,
		ctx: ctx,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return []ServiceTemplateTask
func (a *ServiceTemplateTasksAPIService) GetServiceTemplatesByParentIdTasksExecute(r ApiGetServiceTemplatesByParentIdTasksRequest) ([]ServiceTemplateTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ServiceTemplateTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceTemplateTasksAPIService.GetServiceTemplatesByParentIdTasks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service/templates/{parentId}/tasks"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetServiceTemplatesByParentIdTasksByIdRequest struct {
	ctx context.Context
	ApiService *ServiceTemplateTasksAPIService
	id int32
	parentId int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksByIdRequest) Conditions(conditions string) ApiGetServiceTemplatesByParentIdTasksByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksByIdRequest) ChildConditions(childConditions string) ApiGetServiceTemplatesByParentIdTasksByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetServiceTemplatesByParentIdTasksByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksByIdRequest) OrderBy(orderBy string) ApiGetServiceTemplatesByParentIdTasksByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksByIdRequest) Fields(fields string) ApiGetServiceTemplatesByParentIdTasksByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksByIdRequest) Page(page int32) ApiGetServiceTemplatesByParentIdTasksByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksByIdRequest) PageSize(pageSize int32) ApiGetServiceTemplatesByParentIdTasksByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksByIdRequest) PageId(pageId int32) ApiGetServiceTemplatesByParentIdTasksByIdRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksByIdRequest) ClientId(clientId string) ApiGetServiceTemplatesByParentIdTasksByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetServiceTemplatesByParentIdTasksByIdRequest) Execute() (*ServiceTemplateTask, *http.Response, error) {
	return r.ApiService.GetServiceTemplatesByParentIdTasksByIdExecute(r)
}

/*
GetServiceTemplatesByParentIdTasksById Get Task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id taskId
 @param parentId templateId
 @return ApiGetServiceTemplatesByParentIdTasksByIdRequest
*/
func (a *ServiceTemplateTasksAPIService) GetServiceTemplatesByParentIdTasksById(ctx context.Context, id int32, parentId int32) ApiGetServiceTemplatesByParentIdTasksByIdRequest {
	return ApiGetServiceTemplatesByParentIdTasksByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return ServiceTemplateTask
func (a *ServiceTemplateTasksAPIService) GetServiceTemplatesByParentIdTasksByIdExecute(r ApiGetServiceTemplatesByParentIdTasksByIdRequest) (*ServiceTemplateTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceTemplateTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceTemplateTasksAPIService.GetServiceTemplatesByParentIdTasksById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service/templates/{parentId}/tasks/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetServiceTemplatesByParentIdTasksCountRequest struct {
	ctx context.Context
	ApiService *ServiceTemplateTasksAPIService
	parentId int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksCountRequest) Conditions(conditions string) ApiGetServiceTemplatesByParentIdTasksCountRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksCountRequest) ChildConditions(childConditions string) ApiGetServiceTemplatesByParentIdTasksCountRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksCountRequest) CustomFieldConditions(customFieldConditions string) ApiGetServiceTemplatesByParentIdTasksCountRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksCountRequest) OrderBy(orderBy string) ApiGetServiceTemplatesByParentIdTasksCountRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksCountRequest) Fields(fields string) ApiGetServiceTemplatesByParentIdTasksCountRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksCountRequest) Page(page int32) ApiGetServiceTemplatesByParentIdTasksCountRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksCountRequest) PageSize(pageSize int32) ApiGetServiceTemplatesByParentIdTasksCountRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksCountRequest) PageId(pageId int32) ApiGetServiceTemplatesByParentIdTasksCountRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetServiceTemplatesByParentIdTasksCountRequest) ClientId(clientId string) ApiGetServiceTemplatesByParentIdTasksCountRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetServiceTemplatesByParentIdTasksCountRequest) Execute() (*Count, *http.Response, error) {
	return r.ApiService.GetServiceTemplatesByParentIdTasksCountExecute(r)
}

/*
GetServiceTemplatesByParentIdTasksCount Get Count of Tasks

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param parentId templateId
 @return ApiGetServiceTemplatesByParentIdTasksCountRequest
*/
func (a *ServiceTemplateTasksAPIService) GetServiceTemplatesByParentIdTasksCount(ctx context.Context, parentId int32) ApiGetServiceTemplatesByParentIdTasksCountRequest {
	return ApiGetServiceTemplatesByParentIdTasksCountRequest{
		ApiService: a,
		ctx: ctx,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return Count
func (a *ServiceTemplateTasksAPIService) GetServiceTemplatesByParentIdTasksCountExecute(r ApiGetServiceTemplatesByParentIdTasksCountRequest) (*Count, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Count
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceTemplateTasksAPIService.GetServiceTemplatesByParentIdTasksCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service/templates/{parentId}/tasks/count"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchServiceTemplatesByParentIdTasksByIdRequest struct {
	ctx context.Context
	ApiService *ServiceTemplateTasksAPIService
	id int32
	parentId int32
	patchOperation *[]PatchOperation
	clientId *string
}

// List of PatchOperation
func (r ApiPatchServiceTemplatesByParentIdTasksByIdRequest) PatchOperation(patchOperation []PatchOperation) ApiPatchServiceTemplatesByParentIdTasksByIdRequest {
	r.patchOperation = &patchOperation
	return r
}

// 
func (r ApiPatchServiceTemplatesByParentIdTasksByIdRequest) ClientId(clientId string) ApiPatchServiceTemplatesByParentIdTasksByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiPatchServiceTemplatesByParentIdTasksByIdRequest) Execute() (*ServiceTemplateTask, *http.Response, error) {
	return r.ApiService.PatchServiceTemplatesByParentIdTasksByIdExecute(r)
}

/*
PatchServiceTemplatesByParentIdTasksById Patch Task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id taskId
 @param parentId templateId
 @return ApiPatchServiceTemplatesByParentIdTasksByIdRequest
*/
func (a *ServiceTemplateTasksAPIService) PatchServiceTemplatesByParentIdTasksById(ctx context.Context, id int32, parentId int32) ApiPatchServiceTemplatesByParentIdTasksByIdRequest {
	return ApiPatchServiceTemplatesByParentIdTasksByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return ServiceTemplateTask
func (a *ServiceTemplateTasksAPIService) PatchServiceTemplatesByParentIdTasksByIdExecute(r ApiPatchServiceTemplatesByParentIdTasksByIdRequest) (*ServiceTemplateTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceTemplateTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceTemplateTasksAPIService.PatchServiceTemplatesByParentIdTasksById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service/templates/{parentId}/tasks/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchOperation == nil {
		return localVarReturnValue, nil, reportError("patchOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	// body params
	localVarPostBody = r.patchOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostServiceTemplatesByParentIdTasksRequest struct {
	ctx context.Context
	ApiService *ServiceTemplateTasksAPIService
	parentId int32
	serviceTemplateTask *ServiceTemplateTask
	clientId *string
}

// serviceTemplateTask
func (r ApiPostServiceTemplatesByParentIdTasksRequest) ServiceTemplateTask(serviceTemplateTask ServiceTemplateTask) ApiPostServiceTemplatesByParentIdTasksRequest {
	r.serviceTemplateTask = &serviceTemplateTask
	return r
}

// 
func (r ApiPostServiceTemplatesByParentIdTasksRequest) ClientId(clientId string) ApiPostServiceTemplatesByParentIdTasksRequest {
	r.clientId = &clientId
	return r
}

func (r ApiPostServiceTemplatesByParentIdTasksRequest) Execute() (*ServiceTemplateTask, *http.Response, error) {
	return r.ApiService.PostServiceTemplatesByParentIdTasksExecute(r)
}

/*
PostServiceTemplatesByParentIdTasks Post Task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param parentId templateId
 @return ApiPostServiceTemplatesByParentIdTasksRequest
*/
func (a *ServiceTemplateTasksAPIService) PostServiceTemplatesByParentIdTasks(ctx context.Context, parentId int32) ApiPostServiceTemplatesByParentIdTasksRequest {
	return ApiPostServiceTemplatesByParentIdTasksRequest{
		ApiService: a,
		ctx: ctx,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return ServiceTemplateTask
func (a *ServiceTemplateTasksAPIService) PostServiceTemplatesByParentIdTasksExecute(r ApiPostServiceTemplatesByParentIdTasksRequest) (*ServiceTemplateTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceTemplateTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceTemplateTasksAPIService.PostServiceTemplatesByParentIdTasks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service/templates/{parentId}/tasks"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.serviceTemplateTask == nil {
		return localVarReturnValue, nil, reportError("serviceTemplateTask is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	// body params
	localVarPostBody = r.serviceTemplateTask
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
