/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MyCompanyServicesAPIService MyCompanyServicesAPI service
type MyCompanyServicesAPIService service

type ApiGetSystemMycompanyServicesRequest struct {
	ctx context.Context
	ApiService *MyCompanyServicesAPIService
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetSystemMycompanyServicesRequest) Conditions(conditions string) ApiGetSystemMycompanyServicesRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemMycompanyServicesRequest) ChildConditions(childConditions string) ApiGetSystemMycompanyServicesRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemMycompanyServicesRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemMycompanyServicesRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemMycompanyServicesRequest) OrderBy(orderBy string) ApiGetSystemMycompanyServicesRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemMycompanyServicesRequest) Fields(fields string) ApiGetSystemMycompanyServicesRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemMycompanyServicesRequest) Page(page int32) ApiGetSystemMycompanyServicesRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemMycompanyServicesRequest) PageSize(pageSize int32) ApiGetSystemMycompanyServicesRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemMycompanyServicesRequest) PageId(pageId int32) ApiGetSystemMycompanyServicesRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetSystemMycompanyServicesRequest) ClientId(clientId string) ApiGetSystemMycompanyServicesRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetSystemMycompanyServicesRequest) Execute() ([]Service, *http.Response, error) {
	return r.ApiService.GetSystemMycompanyServicesExecute(r)
}

/*
GetSystemMycompanyServices Get List of MyCompanyService

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSystemMycompanyServicesRequest
*/
func (a *MyCompanyServicesAPIService) GetSystemMycompanyServices(ctx context.Context) ApiGetSystemMycompanyServicesRequest {
	return ApiGetSystemMycompanyServicesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Service
func (a *MyCompanyServicesAPIService) GetSystemMycompanyServicesExecute(r ApiGetSystemMycompanyServicesRequest) ([]Service, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Service
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MyCompanyServicesAPIService.GetSystemMycompanyServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mycompany/services"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSystemMycompanyServicesByIdRequest struct {
	ctx context.Context
	ApiService *MyCompanyServicesAPIService
	id int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetSystemMycompanyServicesByIdRequest) Conditions(conditions string) ApiGetSystemMycompanyServicesByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemMycompanyServicesByIdRequest) ChildConditions(childConditions string) ApiGetSystemMycompanyServicesByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemMycompanyServicesByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemMycompanyServicesByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemMycompanyServicesByIdRequest) OrderBy(orderBy string) ApiGetSystemMycompanyServicesByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemMycompanyServicesByIdRequest) Fields(fields string) ApiGetSystemMycompanyServicesByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemMycompanyServicesByIdRequest) Page(page int32) ApiGetSystemMycompanyServicesByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemMycompanyServicesByIdRequest) PageSize(pageSize int32) ApiGetSystemMycompanyServicesByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemMycompanyServicesByIdRequest) PageId(pageId int32) ApiGetSystemMycompanyServicesByIdRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetSystemMycompanyServicesByIdRequest) ClientId(clientId string) ApiGetSystemMycompanyServicesByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetSystemMycompanyServicesByIdRequest) Execute() (*Service, *http.Response, error) {
	return r.ApiService.GetSystemMycompanyServicesByIdExecute(r)
}

/*
GetSystemMycompanyServicesById Get MyCompanyService

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id serviceId
 @return ApiGetSystemMycompanyServicesByIdRequest
*/
func (a *MyCompanyServicesAPIService) GetSystemMycompanyServicesById(ctx context.Context, id int32) ApiGetSystemMycompanyServicesByIdRequest {
	return ApiGetSystemMycompanyServicesByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Service
func (a *MyCompanyServicesAPIService) GetSystemMycompanyServicesByIdExecute(r ApiGetSystemMycompanyServicesByIdRequest) (*Service, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Service
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MyCompanyServicesAPIService.GetSystemMycompanyServicesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mycompany/services/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchSystemMycompanyServicesByIdRequest struct {
	ctx context.Context
	ApiService *MyCompanyServicesAPIService
	id int32
	patchOperation *[]PatchOperation
	clientId *string
}

// List of PatchOperation
func (r ApiPatchSystemMycompanyServicesByIdRequest) PatchOperation(patchOperation []PatchOperation) ApiPatchSystemMycompanyServicesByIdRequest {
	r.patchOperation = &patchOperation
	return r
}

// 
func (r ApiPatchSystemMycompanyServicesByIdRequest) ClientId(clientId string) ApiPatchSystemMycompanyServicesByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiPatchSystemMycompanyServicesByIdRequest) Execute() (*Service, *http.Response, error) {
	return r.ApiService.PatchSystemMycompanyServicesByIdExecute(r)
}

/*
PatchSystemMycompanyServicesById Patch MyCompanyService

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id serviceId
 @return ApiPatchSystemMycompanyServicesByIdRequest
*/
func (a *MyCompanyServicesAPIService) PatchSystemMycompanyServicesById(ctx context.Context, id int32) ApiPatchSystemMycompanyServicesByIdRequest {
	return ApiPatchSystemMycompanyServicesByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Service
func (a *MyCompanyServicesAPIService) PatchSystemMycompanyServicesByIdExecute(r ApiPatchSystemMycompanyServicesByIdRequest) (*Service, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Service
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MyCompanyServicesAPIService.PatchSystemMycompanyServicesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mycompany/services/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchOperation == nil {
		return localVarReturnValue, nil, reportError("patchOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	// body params
	localVarPostBody = r.patchOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutSystemMycompanyServicesByIdRequest struct {
	ctx context.Context
	ApiService *MyCompanyServicesAPIService
	id int32
	service *Service
	clientId *string
}

// service
func (r ApiPutSystemMycompanyServicesByIdRequest) Service(service Service) ApiPutSystemMycompanyServicesByIdRequest {
	r.service = &service
	return r
}

// 
func (r ApiPutSystemMycompanyServicesByIdRequest) ClientId(clientId string) ApiPutSystemMycompanyServicesByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiPutSystemMycompanyServicesByIdRequest) Execute() (*Service, *http.Response, error) {
	return r.ApiService.PutSystemMycompanyServicesByIdExecute(r)
}

/*
PutSystemMycompanyServicesById Put MyCompanyService

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id serviceId
 @return ApiPutSystemMycompanyServicesByIdRequest
*/
func (a *MyCompanyServicesAPIService) PutSystemMycompanyServicesById(ctx context.Context, id int32) ApiPutSystemMycompanyServicesByIdRequest {
	return ApiPutSystemMycompanyServicesByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Service
func (a *MyCompanyServicesAPIService) PutSystemMycompanyServicesByIdExecute(r ApiPutSystemMycompanyServicesByIdRequest) (*Service, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Service
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MyCompanyServicesAPIService.PutSystemMycompanyServicesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mycompany/services/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.service == nil {
		return localVarReturnValue, nil, reportError("service is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	// body params
	localVarPostBody = r.service
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
