/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MemberImagesAPIService MemberImagesAPI service
type MemberImagesAPIService service

type ApiGetSystemMembersByIdImageRequest struct {
	ctx context.Context
	ApiService *MemberImagesAPIService
	id int32
	useDefaultFlag bool
	lastmodified string
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetSystemMembersByIdImageRequest) Conditions(conditions string) ApiGetSystemMembersByIdImageRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetSystemMembersByIdImageRequest) ChildConditions(childConditions string) ApiGetSystemMembersByIdImageRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetSystemMembersByIdImageRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemMembersByIdImageRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetSystemMembersByIdImageRequest) OrderBy(orderBy string) ApiGetSystemMembersByIdImageRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetSystemMembersByIdImageRequest) Fields(fields string) ApiGetSystemMembersByIdImageRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetSystemMembersByIdImageRequest) Page(page int32) ApiGetSystemMembersByIdImageRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetSystemMembersByIdImageRequest) PageSize(pageSize int32) ApiGetSystemMembersByIdImageRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetSystemMembersByIdImageRequest) PageId(pageId int32) ApiGetSystemMembersByIdImageRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetSystemMembersByIdImageRequest) ClientId(clientId string) ApiGetSystemMembersByIdImageRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetSystemMembersByIdImageRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetSystemMembersByIdImageExecute(r)
}

/*
GetSystemMembersByIdImage Get

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id memberId
 @param useDefaultFlag useDefaultFlag
 @param lastmodified lastmodified
 @return ApiGetSystemMembersByIdImageRequest
*/
func (a *MemberImagesAPIService) GetSystemMembersByIdImage(ctx context.Context, id int32, useDefaultFlag bool, lastmodified string) ApiGetSystemMembersByIdImageRequest {
	return ApiGetSystemMembersByIdImageRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		useDefaultFlag: useDefaultFlag,
		lastmodified: lastmodified,
	}
}

// Execute executes the request
func (a *MemberImagesAPIService) GetSystemMembersByIdImageExecute(r ApiGetSystemMembersByIdImageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemberImagesAPIService.GetSystemMembersByIdImage")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/members/{id}/image"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"useDefaultFlag"+"}", url.PathEscape(parameterValueToString(r.useDefaultFlag, "useDefaultFlag")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lastmodified"+"}", url.PathEscape(parameterValueToString(r.lastmodified, "lastmodified")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
