/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ProjectTicketNotesAPIService ProjectTicketNotesAPI service
type ProjectTicketNotesAPIService service

type ApiGetProjectTicketsByParentIdAllNotesRequest struct {
	ctx context.Context
	ApiService *ProjectTicketNotesAPIService
	parentId int32
	clientId *string
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
}

// 
func (r ApiGetProjectTicketsByParentIdAllNotesRequest) ClientId(clientId string) ApiGetProjectTicketsByParentIdAllNotesRequest {
	r.clientId = &clientId
	return r
}

// 
func (r ApiGetProjectTicketsByParentIdAllNotesRequest) Conditions(conditions string) ApiGetProjectTicketsByParentIdAllNotesRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetProjectTicketsByParentIdAllNotesRequest) ChildConditions(childConditions string) ApiGetProjectTicketsByParentIdAllNotesRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetProjectTicketsByParentIdAllNotesRequest) CustomFieldConditions(customFieldConditions string) ApiGetProjectTicketsByParentIdAllNotesRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetProjectTicketsByParentIdAllNotesRequest) OrderBy(orderBy string) ApiGetProjectTicketsByParentIdAllNotesRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetProjectTicketsByParentIdAllNotesRequest) Fields(fields string) ApiGetProjectTicketsByParentIdAllNotesRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetProjectTicketsByParentIdAllNotesRequest) Page(page int32) ApiGetProjectTicketsByParentIdAllNotesRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetProjectTicketsByParentIdAllNotesRequest) PageSize(pageSize int32) ApiGetProjectTicketsByParentIdAllNotesRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetProjectTicketsByParentIdAllNotesRequest) PageId(pageId int32) ApiGetProjectTicketsByParentIdAllNotesRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetProjectTicketsByParentIdAllNotesRequest) Execute() ([]ProjectTicketNote, *http.Response, error) {
	return r.ApiService.GetProjectTicketsByParentIdAllNotesExecute(r)
}

/*
GetProjectTicketsByParentIdAllNotes Get List of ProjectTicketNote

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param parentId ticketId
 @return ApiGetProjectTicketsByParentIdAllNotesRequest
*/
func (a *ProjectTicketNotesAPIService) GetProjectTicketsByParentIdAllNotes(ctx context.Context, parentId int32) ApiGetProjectTicketsByParentIdAllNotesRequest {
	return ApiGetProjectTicketsByParentIdAllNotesRequest{
		ApiService: a,
		ctx: ctx,
		parentId: parentId,
	}
}

// Execute executes the request
//  @return []ProjectTicketNote
func (a *ProjectTicketNotesAPIService) GetProjectTicketsByParentIdAllNotesExecute(r ApiGetProjectTicketsByParentIdAllNotesRequest) ([]ProjectTicketNote, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProjectTicketNote
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectTicketNotesAPIService.GetProjectTicketsByParentIdAllNotes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/tickets/{parentId}/allNotes"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostProjectTicketNoteByIdMarkAsRequest struct {
	ctx context.Context
	ApiService *ProjectTicketNotesAPIService
	id int32
	clientId *string
	projectTicketNote *ProjectTicketNote
}

// 
func (r ApiPostProjectTicketNoteByIdMarkAsRequest) ClientId(clientId string) ApiPostProjectTicketNoteByIdMarkAsRequest {
	r.clientId = &clientId
	return r
}

// item
func (r ApiPostProjectTicketNoteByIdMarkAsRequest) ProjectTicketNote(projectTicketNote ProjectTicketNote) ApiPostProjectTicketNoteByIdMarkAsRequest {
	r.projectTicketNote = &projectTicketNote
	return r
}

func (r ApiPostProjectTicketNoteByIdMarkAsRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostProjectTicketNoteByIdMarkAsExecute(r)
}

/*
PostProjectTicketNoteByIdMarkAs Post ProjectTicketNote

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ticketNoteId
 @return ApiPostProjectTicketNoteByIdMarkAsRequest
*/
func (a *ProjectTicketNotesAPIService) PostProjectTicketNoteByIdMarkAs(ctx context.Context, id int32) ApiPostProjectTicketNoteByIdMarkAsRequest {
	return ApiPostProjectTicketNoteByIdMarkAsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ProjectTicketNotesAPIService) PostProjectTicketNoteByIdMarkAsExecute(r ApiPostProjectTicketNoteByIdMarkAsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectTicketNotesAPIService.PostProjectTicketNoteByIdMarkAs")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/project/ticketNote/{id}/markAs/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return nil, reportError("clientId is required and must be specified")
	}
	if r.projectTicketNote == nil {
		return nil, reportError("projectTicketNote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.projectTicketNote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
