/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ServiceTeamsAPIService ServiceTeamsAPI service
type ServiceTeamsAPIService service

type ApiGetServiceTeamsRequest struct {
	ctx context.Context
	ApiService *ServiceTeamsAPIService
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetServiceTeamsRequest) Conditions(conditions string) ApiGetServiceTeamsRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetServiceTeamsRequest) ChildConditions(childConditions string) ApiGetServiceTeamsRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetServiceTeamsRequest) CustomFieldConditions(customFieldConditions string) ApiGetServiceTeamsRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetServiceTeamsRequest) OrderBy(orderBy string) ApiGetServiceTeamsRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetServiceTeamsRequest) Fields(fields string) ApiGetServiceTeamsRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetServiceTeamsRequest) Page(page int32) ApiGetServiceTeamsRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetServiceTeamsRequest) PageSize(pageSize int32) ApiGetServiceTeamsRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetServiceTeamsRequest) PageId(pageId int32) ApiGetServiceTeamsRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetServiceTeamsRequest) ClientId(clientId string) ApiGetServiceTeamsRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetServiceTeamsRequest) Execute() ([]ServiceTeam, *http.Response, error) {
	return r.ApiService.GetServiceTeamsExecute(r)
}

/*
GetServiceTeams Get List of ServiceTeam

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetServiceTeamsRequest
*/
func (a *ServiceTeamsAPIService) GetServiceTeams(ctx context.Context) ApiGetServiceTeamsRequest {
	return ApiGetServiceTeamsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ServiceTeam
func (a *ServiceTeamsAPIService) GetServiceTeamsExecute(r ApiGetServiceTeamsRequest) ([]ServiceTeam, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ServiceTeam
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceTeamsAPIService.GetServiceTeams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service/teams"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetServiceTeamsByIdRequest struct {
	ctx context.Context
	ApiService *ServiceTeamsAPIService
	id int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetServiceTeamsByIdRequest) Conditions(conditions string) ApiGetServiceTeamsByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetServiceTeamsByIdRequest) ChildConditions(childConditions string) ApiGetServiceTeamsByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetServiceTeamsByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetServiceTeamsByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetServiceTeamsByIdRequest) OrderBy(orderBy string) ApiGetServiceTeamsByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetServiceTeamsByIdRequest) Fields(fields string) ApiGetServiceTeamsByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetServiceTeamsByIdRequest) Page(page int32) ApiGetServiceTeamsByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetServiceTeamsByIdRequest) PageSize(pageSize int32) ApiGetServiceTeamsByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetServiceTeamsByIdRequest) PageId(pageId int32) ApiGetServiceTeamsByIdRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetServiceTeamsByIdRequest) ClientId(clientId string) ApiGetServiceTeamsByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetServiceTeamsByIdRequest) Execute() (*ServiceTeam, *http.Response, error) {
	return r.ApiService.GetServiceTeamsByIdExecute(r)
}

/*
GetServiceTeamsById Get ServiceTeam

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id teamId
 @return ApiGetServiceTeamsByIdRequest
*/
func (a *ServiceTeamsAPIService) GetServiceTeamsById(ctx context.Context, id int32) ApiGetServiceTeamsByIdRequest {
	return ApiGetServiceTeamsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ServiceTeam
func (a *ServiceTeamsAPIService) GetServiceTeamsByIdExecute(r ApiGetServiceTeamsByIdRequest) (*ServiceTeam, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceTeam
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceTeamsAPIService.GetServiceTeamsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service/teams/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetServiceTeamsCountRequest struct {
	ctx context.Context
	ApiService *ServiceTeamsAPIService
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetServiceTeamsCountRequest) Conditions(conditions string) ApiGetServiceTeamsCountRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetServiceTeamsCountRequest) ChildConditions(childConditions string) ApiGetServiceTeamsCountRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetServiceTeamsCountRequest) CustomFieldConditions(customFieldConditions string) ApiGetServiceTeamsCountRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetServiceTeamsCountRequest) OrderBy(orderBy string) ApiGetServiceTeamsCountRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetServiceTeamsCountRequest) Fields(fields string) ApiGetServiceTeamsCountRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetServiceTeamsCountRequest) Page(page int32) ApiGetServiceTeamsCountRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetServiceTeamsCountRequest) PageSize(pageSize int32) ApiGetServiceTeamsCountRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetServiceTeamsCountRequest) PageId(pageId int32) ApiGetServiceTeamsCountRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetServiceTeamsCountRequest) ClientId(clientId string) ApiGetServiceTeamsCountRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetServiceTeamsCountRequest) Execute() (*Count, *http.Response, error) {
	return r.ApiService.GetServiceTeamsCountExecute(r)
}

/*
GetServiceTeamsCount Get Count of ServiceTeam

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetServiceTeamsCountRequest
*/
func (a *ServiceTeamsAPIService) GetServiceTeamsCount(ctx context.Context) ApiGetServiceTeamsCountRequest {
	return ApiGetServiceTeamsCountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Count
func (a *ServiceTeamsAPIService) GetServiceTeamsCountExecute(r ApiGetServiceTeamsCountRequest) (*Count, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Count
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceTeamsAPIService.GetServiceTeamsCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service/teams/count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
