/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AgreementRecapsAPIService AgreementRecapsAPI service
type AgreementRecapsAPIService service

type ApiGetFinanceAgreementrecapRequest struct {
	ctx context.Context
	ApiService *AgreementRecapsAPIService
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetFinanceAgreementrecapRequest) Conditions(conditions string) ApiGetFinanceAgreementrecapRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetFinanceAgreementrecapRequest) ChildConditions(childConditions string) ApiGetFinanceAgreementrecapRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetFinanceAgreementrecapRequest) CustomFieldConditions(customFieldConditions string) ApiGetFinanceAgreementrecapRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetFinanceAgreementrecapRequest) OrderBy(orderBy string) ApiGetFinanceAgreementrecapRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetFinanceAgreementrecapRequest) Fields(fields string) ApiGetFinanceAgreementrecapRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetFinanceAgreementrecapRequest) Page(page int32) ApiGetFinanceAgreementrecapRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetFinanceAgreementrecapRequest) PageSize(pageSize int32) ApiGetFinanceAgreementrecapRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetFinanceAgreementrecapRequest) PageId(pageId int32) ApiGetFinanceAgreementrecapRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetFinanceAgreementrecapRequest) ClientId(clientId string) ApiGetFinanceAgreementrecapRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetFinanceAgreementrecapRequest) Execute() ([]AgreementRecap, *http.Response, error) {
	return r.ApiService.GetFinanceAgreementrecapExecute(r)
}

/*
GetFinanceAgreementrecap Get List of AgreementRecaps

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetFinanceAgreementrecapRequest
*/
func (a *AgreementRecapsAPIService) GetFinanceAgreementrecap(ctx context.Context) ApiGetFinanceAgreementrecapRequest {
	return ApiGetFinanceAgreementrecapRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AgreementRecap
func (a *AgreementRecapsAPIService) GetFinanceAgreementrecapExecute(r ApiGetFinanceAgreementrecapRequest) ([]AgreementRecap, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AgreementRecap
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementRecapsAPIService.GetFinanceAgreementrecap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/agreementrecap/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFinanceAgreementrecapByIdRequest struct {
	ctx context.Context
	ApiService *AgreementRecapsAPIService
	id int32
	conditions *string
	childConditions *string
	customFieldConditions *string
	orderBy *string
	fields *string
	page *int32
	pageSize *int32
	pageId *int32
	clientId *string
}

// 
func (r ApiGetFinanceAgreementrecapByIdRequest) Conditions(conditions string) ApiGetFinanceAgreementrecapByIdRequest {
	r.conditions = &conditions
	return r
}

// 
func (r ApiGetFinanceAgreementrecapByIdRequest) ChildConditions(childConditions string) ApiGetFinanceAgreementrecapByIdRequest {
	r.childConditions = &childConditions
	return r
}

// 
func (r ApiGetFinanceAgreementrecapByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetFinanceAgreementrecapByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

// 
func (r ApiGetFinanceAgreementrecapByIdRequest) OrderBy(orderBy string) ApiGetFinanceAgreementrecapByIdRequest {
	r.orderBy = &orderBy
	return r
}

// 
func (r ApiGetFinanceAgreementrecapByIdRequest) Fields(fields string) ApiGetFinanceAgreementrecapByIdRequest {
	r.fields = &fields
	return r
}

// 
func (r ApiGetFinanceAgreementrecapByIdRequest) Page(page int32) ApiGetFinanceAgreementrecapByIdRequest {
	r.page = &page
	return r
}

// 
func (r ApiGetFinanceAgreementrecapByIdRequest) PageSize(pageSize int32) ApiGetFinanceAgreementrecapByIdRequest {
	r.pageSize = &pageSize
	return r
}

// 
func (r ApiGetFinanceAgreementrecapByIdRequest) PageId(pageId int32) ApiGetFinanceAgreementrecapByIdRequest {
	r.pageId = &pageId
	return r
}

// 
func (r ApiGetFinanceAgreementrecapByIdRequest) ClientId(clientId string) ApiGetFinanceAgreementrecapByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetFinanceAgreementrecapByIdRequest) Execute() (*AgreementRecap, *http.Response, error) {
	return r.ApiService.GetFinanceAgreementrecapByIdExecute(r)
}

/*
GetFinanceAgreementrecapById Get AgreementRecaps

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id AgreementRecapId
 @return ApiGetFinanceAgreementrecapByIdRequest
*/
func (a *AgreementRecapsAPIService) GetFinanceAgreementrecapById(ctx context.Context, id int32) ApiGetFinanceAgreementrecapByIdRequest {
	return ApiGetFinanceAgreementrecapByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AgreementRecap
func (a *AgreementRecapsAPIService) GetFinanceAgreementrecapByIdExecute(r ApiGetFinanceAgreementrecapByIdRequest) (*AgreementRecap, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgreementRecap
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementRecapsAPIService.GetFinanceAgreementrecapById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/agreementrecap/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
