/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AccountingPackageSetupsAPIService AccountingPackageSetupsAPI service
type AccountingPackageSetupsAPIService service

type ApiGetFinanceAccountingPackageSetupRequest struct {
	ctx                   context.Context
	ApiService            *AccountingPackageSetupsAPIService
	clientId              *string
	conditions            *string
	childConditions       *string
	customFieldConditions *string
	orderBy               *string
	fields                *string
	page                  *int32
	pageSize              *int32
	pageId                *int32
}

func (r ApiGetFinanceAccountingPackageSetupRequest) ClientId(clientId string) ApiGetFinanceAccountingPackageSetupRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetFinanceAccountingPackageSetupRequest) Conditions(conditions string) ApiGetFinanceAccountingPackageSetupRequest {
	r.conditions = &conditions
	return r
}

func (r ApiGetFinanceAccountingPackageSetupRequest) ChildConditions(childConditions string) ApiGetFinanceAccountingPackageSetupRequest {
	r.childConditions = &childConditions
	return r
}

func (r ApiGetFinanceAccountingPackageSetupRequest) CustomFieldConditions(customFieldConditions string) ApiGetFinanceAccountingPackageSetupRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

func (r ApiGetFinanceAccountingPackageSetupRequest) OrderBy(orderBy string) ApiGetFinanceAccountingPackageSetupRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiGetFinanceAccountingPackageSetupRequest) Fields(fields string) ApiGetFinanceAccountingPackageSetupRequest {
	r.fields = &fields
	return r
}

func (r ApiGetFinanceAccountingPackageSetupRequest) Page(page int32) ApiGetFinanceAccountingPackageSetupRequest {
	r.page = &page
	return r
}

func (r ApiGetFinanceAccountingPackageSetupRequest) PageSize(pageSize int32) ApiGetFinanceAccountingPackageSetupRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetFinanceAccountingPackageSetupRequest) PageId(pageId int32) ApiGetFinanceAccountingPackageSetupRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetFinanceAccountingPackageSetupRequest) Execute() ([]AccountingPackageSetup, *http.Response, error) {
	return r.ApiService.GetFinanceAccountingPackageSetupExecute(r)
}

/*
GetFinanceAccountingPackageSetup Get List of AccountingPackageSetup

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetFinanceAccountingPackageSetupRequest
*/
func (a *AccountingPackageSetupsAPIService) GetFinanceAccountingPackageSetup(ctx context.Context) ApiGetFinanceAccountingPackageSetupRequest {
	return ApiGetFinanceAccountingPackageSetupRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []AccountingPackageSetup
func (a *AccountingPackageSetupsAPIService) GetFinanceAccountingPackageSetupExecute(r ApiGetFinanceAccountingPackageSetupRequest) ([]AccountingPackageSetup, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AccountingPackageSetup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingPackageSetupsAPIService.GetFinanceAccountingPackageSetup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/accountingPackageSetup"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFinanceAccountingPackageSetupByIdRequest struct {
	ctx                   context.Context
	ApiService            *AccountingPackageSetupsAPIService
	id                    int32
	clientId              *string
	conditions            *string
	childConditions       *string
	customFieldConditions *string
	orderBy               *string
	fields                *string
	page                  *int32
	pageSize              *int32
	pageId                *int32
}

func (r ApiGetFinanceAccountingPackageSetupByIdRequest) ClientId(clientId string) ApiGetFinanceAccountingPackageSetupByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetFinanceAccountingPackageSetupByIdRequest) Conditions(conditions string) ApiGetFinanceAccountingPackageSetupByIdRequest {
	r.conditions = &conditions
	return r
}

func (r ApiGetFinanceAccountingPackageSetupByIdRequest) ChildConditions(childConditions string) ApiGetFinanceAccountingPackageSetupByIdRequest {
	r.childConditions = &childConditions
	return r
}

func (r ApiGetFinanceAccountingPackageSetupByIdRequest) CustomFieldConditions(customFieldConditions string) ApiGetFinanceAccountingPackageSetupByIdRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

func (r ApiGetFinanceAccountingPackageSetupByIdRequest) OrderBy(orderBy string) ApiGetFinanceAccountingPackageSetupByIdRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiGetFinanceAccountingPackageSetupByIdRequest) Fields(fields string) ApiGetFinanceAccountingPackageSetupByIdRequest {
	r.fields = &fields
	return r
}

func (r ApiGetFinanceAccountingPackageSetupByIdRequest) Page(page int32) ApiGetFinanceAccountingPackageSetupByIdRequest {
	r.page = &page
	return r
}

func (r ApiGetFinanceAccountingPackageSetupByIdRequest) PageSize(pageSize int32) ApiGetFinanceAccountingPackageSetupByIdRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetFinanceAccountingPackageSetupByIdRequest) PageId(pageId int32) ApiGetFinanceAccountingPackageSetupByIdRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetFinanceAccountingPackageSetupByIdRequest) Execute() (*AccountingPackageSetup, *http.Response, error) {
	return r.ApiService.GetFinanceAccountingPackageSetupByIdExecute(r)
}

/*
GetFinanceAccountingPackageSetupById Get AccountingPackageSetup

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id accountingPackageSetupId
	@return ApiGetFinanceAccountingPackageSetupByIdRequest
*/
func (a *AccountingPackageSetupsAPIService) GetFinanceAccountingPackageSetupById(ctx context.Context, id int32) ApiGetFinanceAccountingPackageSetupByIdRequest {
	return ApiGetFinanceAccountingPackageSetupByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return AccountingPackageSetup
func (a *AccountingPackageSetupsAPIService) GetFinanceAccountingPackageSetupByIdExecute(r ApiGetFinanceAccountingPackageSetupByIdRequest) (*AccountingPackageSetup, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccountingPackageSetup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingPackageSetupsAPIService.GetFinanceAccountingPackageSetupById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/accountingPackageSetup/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFinanceAccountingPackageSetupCountRequest struct {
	ctx                   context.Context
	ApiService            *AccountingPackageSetupsAPIService
	clientId              *string
	conditions            *string
	childConditions       *string
	customFieldConditions *string
	orderBy               *string
	fields                *string
	page                  *int32
	pageSize              *int32
	pageId                *int32
}

func (r ApiGetFinanceAccountingPackageSetupCountRequest) ClientId(clientId string) ApiGetFinanceAccountingPackageSetupCountRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetFinanceAccountingPackageSetupCountRequest) Conditions(conditions string) ApiGetFinanceAccountingPackageSetupCountRequest {
	r.conditions = &conditions
	return r
}

func (r ApiGetFinanceAccountingPackageSetupCountRequest) ChildConditions(childConditions string) ApiGetFinanceAccountingPackageSetupCountRequest {
	r.childConditions = &childConditions
	return r
}

func (r ApiGetFinanceAccountingPackageSetupCountRequest) CustomFieldConditions(customFieldConditions string) ApiGetFinanceAccountingPackageSetupCountRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

func (r ApiGetFinanceAccountingPackageSetupCountRequest) OrderBy(orderBy string) ApiGetFinanceAccountingPackageSetupCountRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiGetFinanceAccountingPackageSetupCountRequest) Fields(fields string) ApiGetFinanceAccountingPackageSetupCountRequest {
	r.fields = &fields
	return r
}

func (r ApiGetFinanceAccountingPackageSetupCountRequest) Page(page int32) ApiGetFinanceAccountingPackageSetupCountRequest {
	r.page = &page
	return r
}

func (r ApiGetFinanceAccountingPackageSetupCountRequest) PageSize(pageSize int32) ApiGetFinanceAccountingPackageSetupCountRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetFinanceAccountingPackageSetupCountRequest) PageId(pageId int32) ApiGetFinanceAccountingPackageSetupCountRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetFinanceAccountingPackageSetupCountRequest) Execute() (*Count, *http.Response, error) {
	return r.ApiService.GetFinanceAccountingPackageSetupCountExecute(r)
}

/*
GetFinanceAccountingPackageSetupCount Get Count of AccountingPackageSetup

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetFinanceAccountingPackageSetupCountRequest
*/
func (a *AccountingPackageSetupsAPIService) GetFinanceAccountingPackageSetupCount(ctx context.Context) ApiGetFinanceAccountingPackageSetupCountRequest {
	return ApiGetFinanceAccountingPackageSetupCountRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Count
func (a *AccountingPackageSetupsAPIService) GetFinanceAccountingPackageSetupCountExecute(r ApiGetFinanceAccountingPackageSetupCountRequest) (*Count, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Count
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingPackageSetupsAPIService.GetFinanceAccountingPackageSetupCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/accountingPackageSetup/count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchFinanceAccountingPackageSetupByIdRequest struct {
	ctx            context.Context
	ApiService     *AccountingPackageSetupsAPIService
	id             int32
	clientId       *string
	patchOperation *[]PatchOperation
}

func (r ApiPatchFinanceAccountingPackageSetupByIdRequest) ClientId(clientId string) ApiPatchFinanceAccountingPackageSetupByIdRequest {
	r.clientId = &clientId
	return r
}

// List of PatchOperation
func (r ApiPatchFinanceAccountingPackageSetupByIdRequest) PatchOperation(patchOperation []PatchOperation) ApiPatchFinanceAccountingPackageSetupByIdRequest {
	r.patchOperation = &patchOperation
	return r
}

func (r ApiPatchFinanceAccountingPackageSetupByIdRequest) Execute() (*AccountingPackageSetup, *http.Response, error) {
	return r.ApiService.PatchFinanceAccountingPackageSetupByIdExecute(r)
}

/*
PatchFinanceAccountingPackageSetupById Patch AccountingPackageSetup

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id accountingPackageSetupId
	@return ApiPatchFinanceAccountingPackageSetupByIdRequest
*/
func (a *AccountingPackageSetupsAPIService) PatchFinanceAccountingPackageSetupById(ctx context.Context, id int32) ApiPatchFinanceAccountingPackageSetupByIdRequest {
	return ApiPatchFinanceAccountingPackageSetupByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return AccountingPackageSetup
func (a *AccountingPackageSetupsAPIService) PatchFinanceAccountingPackageSetupByIdExecute(r ApiPatchFinanceAccountingPackageSetupByIdRequest) (*AccountingPackageSetup, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccountingPackageSetup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingPackageSetupsAPIService.PatchFinanceAccountingPackageSetupById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/accountingPackageSetup/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.patchOperation == nil {
		return localVarReturnValue, nil, reportError("patchOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.patchOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutFinanceAccountingPackageSetupByIdRequest struct {
	ctx                    context.Context
	ApiService             *AccountingPackageSetupsAPIService
	id                     int32
	clientId               *string
	accountingPackageSetup *AccountingPackageSetup
}

func (r ApiPutFinanceAccountingPackageSetupByIdRequest) ClientId(clientId string) ApiPutFinanceAccountingPackageSetupByIdRequest {
	r.clientId = &clientId
	return r
}

// accountingPackageSetup
func (r ApiPutFinanceAccountingPackageSetupByIdRequest) AccountingPackageSetup(accountingPackageSetup AccountingPackageSetup) ApiPutFinanceAccountingPackageSetupByIdRequest {
	r.accountingPackageSetup = &accountingPackageSetup
	return r
}

func (r ApiPutFinanceAccountingPackageSetupByIdRequest) Execute() (*AccountingPackageSetup, *http.Response, error) {
	return r.ApiService.PutFinanceAccountingPackageSetupByIdExecute(r)
}

/*
PutFinanceAccountingPackageSetupById Put AccountingPackageSetup

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id accountingPackageSetupId
	@return ApiPutFinanceAccountingPackageSetupByIdRequest
*/
func (a *AccountingPackageSetupsAPIService) PutFinanceAccountingPackageSetupById(ctx context.Context, id int32) ApiPutFinanceAccountingPackageSetupByIdRequest {
	return ApiPutFinanceAccountingPackageSetupByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return AccountingPackageSetup
func (a *AccountingPackageSetupsAPIService) PutFinanceAccountingPackageSetupByIdExecute(r ApiPutFinanceAccountingPackageSetupByIdRequest) (*AccountingPackageSetup, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccountingPackageSetup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingPackageSetupsAPIService.PutFinanceAccountingPackageSetupById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/accountingPackageSetup/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.accountingPackageSetup == nil {
		return localVarReturnValue, nil, reportError("accountingPackageSetup is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.accountingPackageSetup
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
