/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AgreementWorkRoleExclusionsAPIService AgreementWorkRoleExclusionsAPI service
type AgreementWorkRoleExclusionsAPIService service

type ApiDeleteFinanceAgreementsByParentIdWorkRoleExclusionsByIdRequest struct {
	ctx        context.Context
	ApiService *AgreementWorkRoleExclusionsAPIService
	id         int32
	parentId   int32
	clientId   *string
}

func (r ApiDeleteFinanceAgreementsByParentIdWorkRoleExclusionsByIdRequest) ClientId(clientId string) ApiDeleteFinanceAgreementsByParentIdWorkRoleExclusionsByIdRequest {
	r.clientId = &clientId
	return r
}

func (r ApiDeleteFinanceAgreementsByParentIdWorkRoleExclusionsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteFinanceAgreementsByParentIdWorkRoleExclusionsByIdExecute(r)
}

/*
DeleteFinanceAgreementsByParentIdWorkRoleExclusionsById Delete AgreementWorkRoleExclusion

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id workRoleExclusionId
	@param parentId agreementId
	@return ApiDeleteFinanceAgreementsByParentIdWorkRoleExclusionsByIdRequest
*/
func (a *AgreementWorkRoleExclusionsAPIService) DeleteFinanceAgreementsByParentIdWorkRoleExclusionsById(ctx context.Context, id int32, parentId int32) ApiDeleteFinanceAgreementsByParentIdWorkRoleExclusionsByIdRequest {
	return ApiDeleteFinanceAgreementsByParentIdWorkRoleExclusionsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		parentId:   parentId,
	}
}

// Execute executes the request
func (a *AgreementWorkRoleExclusionsAPIService) DeleteFinanceAgreementsByParentIdWorkRoleExclusionsByIdExecute(r ApiDeleteFinanceAgreementsByParentIdWorkRoleExclusionsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementWorkRoleExclusionsAPIService.DeleteFinanceAgreementsByParentIdWorkRoleExclusionsById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/agreements/{parentId}/workRoleExclusions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return nil, reportError("clientId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest struct {
	ctx                   context.Context
	ApiService            *AgreementWorkRoleExclusionsAPIService
	parentId              int32
	clientId              *string
	conditions            *string
	childConditions       *string
	customFieldConditions *string
	orderBy               *string
	fields                *string
	page                  *int32
	pageSize              *int32
	pageId                *int32
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) ClientId(clientId string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) Conditions(conditions string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.conditions = &conditions
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) ChildConditions(childConditions string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.childConditions = &childConditions
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) CustomFieldConditions(customFieldConditions string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) OrderBy(orderBy string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) Fields(fields string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.fields = &fields
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) Page(page int32) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.page = &page
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) PageSize(pageSize int32) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) PageId(pageId int32) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) Execute() ([]AgreementWorkRoleExclusion, *http.Response, error) {
	return r.ApiService.GetFinanceAgreementsByParentIdWorkRoleExclusionsExecute(r)
}

/*
GetFinanceAgreementsByParentIdWorkRoleExclusions Get List of AgreementWorkRoleExclusion

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param parentId agreementId
	@return ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest
*/
func (a *AgreementWorkRoleExclusionsAPIService) GetFinanceAgreementsByParentIdWorkRoleExclusions(ctx context.Context, parentId int32) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	return ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest{
		ApiService: a,
		ctx:        ctx,
		parentId:   parentId,
	}
}

// Execute executes the request
//
//	@return []AgreementWorkRoleExclusion
func (a *AgreementWorkRoleExclusionsAPIService) GetFinanceAgreementsByParentIdWorkRoleExclusionsExecute(r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsRequest) ([]AgreementWorkRoleExclusion, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AgreementWorkRoleExclusion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementWorkRoleExclusionsAPIService.GetFinanceAgreementsByParentIdWorkRoleExclusions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/agreements/{parentId}/workRoleExclusions"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest struct {
	ctx                   context.Context
	ApiService            *AgreementWorkRoleExclusionsAPIService
	parentId              int32
	clientId              *string
	conditions            *string
	childConditions       *string
	customFieldConditions *string
	orderBy               *string
	fields                *string
	page                  *int32
	pageSize              *int32
	pageId                *int32
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) ClientId(clientId string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) Conditions(conditions string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest {
	r.conditions = &conditions
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) ChildConditions(childConditions string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest {
	r.childConditions = &childConditions
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) CustomFieldConditions(customFieldConditions string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) OrderBy(orderBy string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) Fields(fields string) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest {
	r.fields = &fields
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) Page(page int32) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest {
	r.page = &page
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) PageSize(pageSize int32) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) PageId(pageId int32) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) Execute() (*Count, *http.Response, error) {
	return r.ApiService.GetFinanceAgreementsByParentIdWorkRoleExclusionsCountExecute(r)
}

/*
GetFinanceAgreementsByParentIdWorkRoleExclusionsCount Get Count of AgreementWorkRoleExclusion

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param parentId agreementId
	@return ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest
*/
func (a *AgreementWorkRoleExclusionsAPIService) GetFinanceAgreementsByParentIdWorkRoleExclusionsCount(ctx context.Context, parentId int32) ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest {
	return ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest{
		ApiService: a,
		ctx:        ctx,
		parentId:   parentId,
	}
}

// Execute executes the request
//
//	@return Count
func (a *AgreementWorkRoleExclusionsAPIService) GetFinanceAgreementsByParentIdWorkRoleExclusionsCountExecute(r ApiGetFinanceAgreementsByParentIdWorkRoleExclusionsCountRequest) (*Count, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Count
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementWorkRoleExclusionsAPIService.GetFinanceAgreementsByParentIdWorkRoleExclusionsCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/agreements/{parentId}/workRoleExclusions/count"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostFinanceAgreementsByParentIdWorkRoleExclusionsRequest struct {
	ctx                        context.Context
	ApiService                 *AgreementWorkRoleExclusionsAPIService
	parentId                   int32
	clientId                   *string
	agreementWorkRoleExclusion *AgreementWorkRoleExclusion
}

func (r ApiPostFinanceAgreementsByParentIdWorkRoleExclusionsRequest) ClientId(clientId string) ApiPostFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.clientId = &clientId
	return r
}

// workRoleExclusion
func (r ApiPostFinanceAgreementsByParentIdWorkRoleExclusionsRequest) AgreementWorkRoleExclusion(agreementWorkRoleExclusion AgreementWorkRoleExclusion) ApiPostFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	r.agreementWorkRoleExclusion = &agreementWorkRoleExclusion
	return r
}

func (r ApiPostFinanceAgreementsByParentIdWorkRoleExclusionsRequest) Execute() (*AgreementWorkRoleExclusion, *http.Response, error) {
	return r.ApiService.PostFinanceAgreementsByParentIdWorkRoleExclusionsExecute(r)
}

/*
PostFinanceAgreementsByParentIdWorkRoleExclusions Post AgreementWorkRoleExclusion

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param parentId agreementId
	@return ApiPostFinanceAgreementsByParentIdWorkRoleExclusionsRequest
*/
func (a *AgreementWorkRoleExclusionsAPIService) PostFinanceAgreementsByParentIdWorkRoleExclusions(ctx context.Context, parentId int32) ApiPostFinanceAgreementsByParentIdWorkRoleExclusionsRequest {
	return ApiPostFinanceAgreementsByParentIdWorkRoleExclusionsRequest{
		ApiService: a,
		ctx:        ctx,
		parentId:   parentId,
	}
}

// Execute executes the request
//
//	@return AgreementWorkRoleExclusion
func (a *AgreementWorkRoleExclusionsAPIService) PostFinanceAgreementsByParentIdWorkRoleExclusionsExecute(r ApiPostFinanceAgreementsByParentIdWorkRoleExclusionsRequest) (*AgreementWorkRoleExclusion, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgreementWorkRoleExclusion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementWorkRoleExclusionsAPIService.PostFinanceAgreementsByParentIdWorkRoleExclusions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finance/agreements/{parentId}/workRoleExclusions"
	localVarPath = strings.Replace(localVarPath, "{"+"parentId"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.agreementWorkRoleExclusion == nil {
		return localVarReturnValue, nil, reportError("agreementWorkRoleExclusion is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	// body params
	localVarPostBody = r.agreementWorkRoleExclusion
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
