/*
Connectwise Manage Public Endpoints

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cwapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// MySecurityCustomizeItemsAPIService MySecurityCustomizeItemsAPI service
type MySecurityCustomizeItemsAPIService service

type ApiGetSystemMySecurityCustomizeItemsRequest struct {
	ctx                   context.Context
	ApiService            *MySecurityCustomizeItemsAPIService
	clientId              *string
	conditions            *string
	childConditions       *string
	customFieldConditions *string
	orderBy               *string
	fields                *string
	page                  *int32
	pageSize              *int32
	pageId                *int32
}

func (r ApiGetSystemMySecurityCustomizeItemsRequest) ClientId(clientId string) ApiGetSystemMySecurityCustomizeItemsRequest {
	r.clientId = &clientId
	return r
}

func (r ApiGetSystemMySecurityCustomizeItemsRequest) Conditions(conditions string) ApiGetSystemMySecurityCustomizeItemsRequest {
	r.conditions = &conditions
	return r
}

func (r ApiGetSystemMySecurityCustomizeItemsRequest) ChildConditions(childConditions string) ApiGetSystemMySecurityCustomizeItemsRequest {
	r.childConditions = &childConditions
	return r
}

func (r ApiGetSystemMySecurityCustomizeItemsRequest) CustomFieldConditions(customFieldConditions string) ApiGetSystemMySecurityCustomizeItemsRequest {
	r.customFieldConditions = &customFieldConditions
	return r
}

func (r ApiGetSystemMySecurityCustomizeItemsRequest) OrderBy(orderBy string) ApiGetSystemMySecurityCustomizeItemsRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiGetSystemMySecurityCustomizeItemsRequest) Fields(fields string) ApiGetSystemMySecurityCustomizeItemsRequest {
	r.fields = &fields
	return r
}

func (r ApiGetSystemMySecurityCustomizeItemsRequest) Page(page int32) ApiGetSystemMySecurityCustomizeItemsRequest {
	r.page = &page
	return r
}

func (r ApiGetSystemMySecurityCustomizeItemsRequest) PageSize(pageSize int32) ApiGetSystemMySecurityCustomizeItemsRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetSystemMySecurityCustomizeItemsRequest) PageId(pageId int32) ApiGetSystemMySecurityCustomizeItemsRequest {
	r.pageId = &pageId
	return r
}

func (r ApiGetSystemMySecurityCustomizeItemsRequest) Execute() ([]MySecurityCustomizeItem, *http.Response, error) {
	return r.ApiService.GetSystemMySecurityCustomizeItemsExecute(r)
}

/*
GetSystemMySecurityCustomizeItems Get List of MySecurityCustomizeItems

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSystemMySecurityCustomizeItemsRequest
*/
func (a *MySecurityCustomizeItemsAPIService) GetSystemMySecurityCustomizeItems(ctx context.Context) ApiGetSystemMySecurityCustomizeItemsRequest {
	return ApiGetSystemMySecurityCustomizeItemsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []MySecurityCustomizeItem
func (a *MySecurityCustomizeItemsAPIService) GetSystemMySecurityCustomizeItemsExecute(r ApiGetSystemMySecurityCustomizeItemsRequest) ([]MySecurityCustomizeItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []MySecurityCustomizeItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MySecurityCustomizeItemsAPIService.GetSystemMySecurityCustomizeItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/mySecurity/customizeItems/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}

	if r.conditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditions", r.conditions, "form", "")
	}
	if r.childConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childConditions", r.childConditions, "form", "")
	}
	if r.customFieldConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customFieldConditions", r.customFieldConditions, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageId", r.pageId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.connectwise.com+json; version=2025.1"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "clientId", r.clientId, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
